<cmx-table [dataSource]="jobsites" [tableSource]="jobsiteTable" [rtl]="isRTL" [pageSize]="10" >
    <ng-container *cmxHeaderTemplate="let table">
        <div fxLayout="row" id="cmx-table-jobsites">
            <cmx-header-cell fxFlex="5" fxLayout fxLayoutAlign="start start" *ngIf="showCheckboxes">
                <cmx-checkbox (change)="toggleJobsites($event)" [rtl]="isRTL" id="cmx-check-table-jobsite-all-{{templateId}}" [checked]="isAllJobsitesSelected()"></cmx-checkbox>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'jobsiteDesc' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'jobsiteCode' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="15" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'regionDesc' ).getName())}}
                <cmx-checkbox-filters [filters]="table.getColumn( 'regionDesc' ).getFilters()" *ngIf="showFilter">
                </cmx-checkbox-filters>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="25" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'customerDesc' ).getName()) }}
                <cmx-checkbox-filters [filters]="table.getColumn( 'customerDesc' ).getFilters()" *ngIf="showFilter">
                </cmx-checkbox-filters>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="5" fxLayout fxLayoutAlign="start start" *ngIf="showDelete">
            </cmx-header-cell>
        </div>
    </ng-container>
    <ng-container *cmxRowTemplate="let $element">
        <div fxLayout="row" cmx-table-item>
            <cmx-cell fxFlex="5" fxLayout="row" fxLayoutAlign="start center" *ngIf="showCheckboxes">
                <cmx-checkbox [checked]="isJobsiteSelected($element?.jobsiteId)" [rtl]="isRTL" (change)="toggleJobsites($event, $element)" id="cmx-check-table-customer-{{$element.index}}-{{templateId}}"></cmx-checkbox>
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-jobsite-desc-{{$element.index}}-{{templateId}}">
                {{ $element.jobsiteDesc }}
            </cmx-cell>
            <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-jobsite-code-{{$element.index}}-{{templateId}}">
                {{ $element.jobsiteCode }}
            </cmx-cell>
            <cmx-cell fxFlex="15" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-jobsite-region-{{$element.index}}-{{templateId}}">
                {{ $element.regionDesc }}
            </cmx-cell>
            <cmx-cell fxFlex="25" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-jobsite-custom-{{$element.index}}-{{templateId}}">
                {{ $element.customerDesc }}
            </cmx-cell>
            <cmx-cell fxFlex="5" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-delete-jobsite-{{$element.index}}-{{templateId}}"  *ngIf="showDelete">
                <span id="cmx-row-btn-remove-jobsite-{{$element.index}}-{{templateId}}" class="cmx-icon-trash font-bright-blue" aria-hidden="true"  (click)="removeJobSite($element)" ></span>
            </cmx-cell>
        </div>
    </ng-container>
</cmx-table>

<cmx-dialog id="warning-CREATE-USER" #warUnJob height="400px" minHeight="400px" enableFooter="true" [rtl] = "isRTL" >
    <cmx-dialog-body>
        <div class="text-center" id="cmx-modal-body-center-warning-CREATE-USER">
            <span class="modal-icon modal-success-icon cmx-icon-warning-repeat font-bright-blue"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{t.pt('views.userManagement.unassigned.locations')}}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align:end" >
            <button cmx-button color="support" (click)="warUnJob.close()" id="cmx-btn-close-warning-CREATE-USER">
                {{t.pt('views.signin.cancel')}}
            </button>
            <button cmx-button color="primary" (click)="unassignJobsite()" id="cmx-btn-continue-CREATE-USER">
                {{t.pt('views.userManagement.btn_continue')}}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>


