<cmx-alert *ngIf="!emailSent" #emailSentAlert type="error" [rtl]="isRTL">
    {{errorMsg}}
</cmx-alert>
<div class="col-md-12 profile" id="cmx-profile-container">
    <breadcrumbs [rtl]="isRTL" [breadCrumbs]="breadCrumbs"></breadcrumbs>
    <h1 id="cmx-title-my-profile">{{ translationService.pt('views.profile.title') }}</h1>
    <div class="spacer-16"></div>
    <profile-box [isRTL]="isRTL" [dataSource]="user" [imgPath]="profilePicPath" [templateId]="'MYPROFILE'"></profile-box>
    <div class="spacer-48"></div>
    <cmx-tabs [rtl]="isRTL">
        <cmx-tab id="cmx-tab-my-apps-role-profile" active [title]="translationService.pt('views.profile.tabMyApps')" (activation)="onTabChange('apps')">
            <div class="spacer-32"></div>
            <div *ngIf="userApplications | async as applications">
                <div class="apps-grid">
                    <div class="col-md-3" *ngFor="let application of applications">
                        <div class="apps-grid__app-card" *ngIf="application.roles.length > 0">
                            <div class="apps-grid__app-card__container">
                                <div class="apps-grid__app-card__container__header">
                                    <span class="apps-grid__app-card__container__header__icon" [ngClass]="getIdIcon(application?.applicationCode)"
                                        id="cmx-app-icon-{{application.applicationCode}}-MYPROFILE"></span>
                                    <span class="apps-grid__app-card__container__header__name" id="cmx-app-title-{{application.applicationCode}}-MYPROFILE">
                                        {{translationService.pt(application.applicationCode) | uppercase}}
                                    </span>
                                </div>
                                <ul class="apps-grid__app-card__container__list" *ngIf="!isDigitalAdmin">
                                    <li class="apps-grid__app-card__container__list__name" *ngFor="let role of application.roles"
                                        id="cmx-role-title-{{role.roleCode}}-MYPROFILE">
                                        {{ translationService.pt(role.roleCode) }}
                                    </li>
                                </ul>
                                <div *ngIf="isDigitalAdmin" class="apps-grid__app-card__container__list__name">
                                    {{ translationService.pt('views.profile.assigned.all.roles') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <no-info *ngIf="applications.length === 0" [title]="translationService.pt('views.profile.noAccessToApps')"
                    [showButton]="false" templateId="MYPROFILE">
                    {{ translationService.pt( 'views.profile.requestAccessMessage') }}
                </no-info>
            </div>
            <div class="spacer-48"></div>
        </cmx-tab>
        <cmx-tab id="cmx-tab--my-customer-profile" [title]="translationService.pt('views.profile.myLegalEntities')" (activation)="onTabChange('customers')">
            <div class="spacer-32"></div>
            <div fxFlex fxLayoutAlign="end end">
                <search #searchCustomer (onSearch)="filter($event)" placeholder="views.profile.searchByNameCode" templateId="legal-entity-MYPROFILE"></search>
            </div>
            <div class="spacer-16"></div>
            <div *ngIf="userCustomers | async as customers">
                <customers-table [isRTL]="isRTL" *ngIf="customers?.length > 0" [customers]="customers" templateId="MYPROFILE"></customers-table>
                <div id="cmx-result-not-customers-MYPROFILE" *ngIf="customers?.length === 0">
                    {{ translationService.pt('views.profile.noCustomers') }}
                </div>
            </div>
        </cmx-tab>
        <cmx-tab id="cmx-tab--my-jobsites-profile" [title]="translationService.pt('views.profile.myJobsites')" (activation)="onTabChange('locations')">
            <div class="spacer-32"></div>
            <div fxFlex fxLayoutAlign="end end">
                <search #searchJobsite *ngIf="userSelectedId === 'S'" (onSearch)="filter($event)" placeholder="views.profile.searchByNameCodeLegalEntity" templateId="location-MYPROFILE"></search> 
            </div>
            <div class="spacer-16"></div>
            <div *ngIf="userJobsites | async as jobsites">
                <div id="cmx-profile-label-alljobsites" *ngIf="userSelectedId === 'A'">
                    {{ translationService.pt('views.profile.assigned.all.locations') }}
                </div>
                <!-- tabSelected === 'locations' && -->
                <jobsites-table [isRTL]="isRTL" *ngIf="jobsites?.length > 0 && userSelectedId === 'S'"
                    [jobsites]="jobsites" [selectedCustomers]="userCustomers | async" templateId="MYPROFILE"></jobsites-table> 
                    <!-- && showJobsites && tabSelected !== 'locations' -->
                <div id="cmx-result-not-jobsite-MYPROFILE" *ngIf="jobsites?.length === 0">
                    {{ translationService.pt('views.profile.noJobsites') }}
                </div>
            </div>
        </cmx-tab>
        <cmx-tab *ngIf="user?.userType === customerUserType" id="cmx-tab-my-request-profile" [title]="translationService.pt('views.profile.tabMyRequests')" (activation)="onTabChange('requests')">
            <div class="spacer-32"></div>
            <div *ngIf="userRequests | async as requests">
                <requests-table *ngIf="requests?.length > 0 && tabSelected === 'requests'" [requests]="requests"
                    [showCheckboxes]="true" (onRequestsToggled)="requestsToCancel = $event" (onOpenRequest)="openRequestDetail($event)"
                    templateId="MYPROFILE" [isRTL]="isRTL"></requests-table>
                <div id="cmx-result-not-request-MYPROFILE" *ngIf="requests?.length === 0">
                    {{ translationService.pt('views.profile.noRequests') }}
                </div>
            </div>
        </cmx-tab>
    </cmx-tabs>
</div>

<buttons-footer *ngIf="user?.userType === customerUserType">
    <button id="cmx-btn-go-permission-request-MYPROFILE" cmx-button [routerLink]="['permission-request']" *ngIf="tabSelected === 'apps'">
        {{ translationService.pt('views.profile.requestPermissionBtn') }}</button>
    <button id="cmx-btn-go-data-request-MYPROFILE" cmx-button (click)="openDataRequest()" *ngIf="tabSelected === 'locations' &&  userSelectedId === 'S'">
        {{ translationService.pt('views.profile.requestDataAccessBtn') }}</button>
    <button id="cmx-btn-cancel-request-MYPROFILE" cmx-button (click)="confirmRequestCancellationModal.open()" *ngIf="tabSelected === 'requests'"
        [disabled]="requestsToCancel.length === 0">
        {{ translationService.pt('views.profile.cancelRequestBtn') }}
    </button>
</buttons-footer>

<jobsites-modal #dataRequestJobsiteModal templateId="MYPROFILE" [isRTL]="isRTL" [isRequest]="true" (onAssign)="submitDataAccessRequest($event)"> </jobsites-modal>

<cmx-dialog templateId="MYPROFILE" #successModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.profile.requests.successCancelRequest') }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog templateId="MYPROFILE" #errorModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-error-icon cmx-icon-error-rounded-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ errorMsg }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog templateId="MYPROFILE" #requestDetailModal class="request-dialog" [enableClose]="true" [enableHeader]="true"
    [enableFooter]="true" [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-header>
        <div id="cmx-request-detail-modal"></div>
        <div class="row">
            <div class="col-md-6">
                <span class="cmx-flag-status" [class.cmx-flag-status--info]="selectedRequest?.status === 'N'"
                    [class.cmx-flag-status--disabled]="selectedRequest?.status === 'C'" [class.cmx-flag-status--alert]="selectedRequest?.status === 'R'"
                    [class.cmx-flag-status--success]="selectedRequest?.status === 'A'" [class.cmx-flag-status--warning]="selectedRequest?.status === 'P'"
                    id="cmx-flag-status-request-detail-MY-PROFILE">
                </span>
                <span>{{ selectedRequest?.statusDesc }}</span>
                <h2>{{ translationService.pt('views.requestDetail.title.' + selectedRequest?.requestType) }}</h2>
                <div class="spacer-8"></div>
                <h5 class="normal">{{ selectedRequest?.requesterName }}</h5>
            </div>
            <div class="col-md-6">
                <div class="end">
                    <div>
                        <h6>{{ translationService.pt('views.global.lbl_createdDate') }}:
                            <span>{{ selectedRequest?.requestDate | cmxDateMoment }}</span>
                        </h6>
                    </div>
                    <div>
                        <h6>{{ translationService.pt('views.global.lbl_requestID') }}:
                            <span>{{ selectedRequest?.requestId }}</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-24"></div>
        <div class="h-delimiter"></div>
        <div class="spacer-24"></div>
    </cmx-dialog-header>
    <cmx-dialog-body>
        <!-- Permission Request -->
        <div *ngIf="selectedRequest?.requestType === 'R'">
            <div class="row">
                <div class="col-md-5">
                    <h6>{{ translationService.pt('views.global.lbl_application') }}</h6>
                </div>
                <div class="col-md-7">
                    <h6> {{ translationService.pt('views.global.lbl_roles') }}</h6>
                </div>
            </div>
            <div class="spacer-16"></div>
            <div class="row" *ngFor="let app of selectedRequest?.details?.applicationList">
                <div class="col-md-5">
                    <h5 class="normal">
                        {{ app?.applicationName }}
                    </h5>
                </div>
                <div class="col-md-7">
                    <ul class="normal" style="list-style: none; padding:0;">
                        <li *ngFor="let role of rolesPerApplication(app?.applicationId)">
                            <h5>{{ translationService.pt(role.roleCode) }}</h5>
                        </li>
                    </ul>
                </div>
                <div class="spacer-16"></div>
            </div>
        </div>
        <!-- Permission Request -->
        <div *ngIf="selectedRequest?.requestType === 'D'">
            <div class="row">
                <div class="col-md-3">
                    <h6>{{ translationService.pt('views.global.lbl_name') }}</h6>
                </div>
                <div class="col-md-9">
                    <h6> {{ translationService.pt('views.global.lbl_jobsiteCode') }}</h6>
                </div>
            </div>
            <div class="spacer-16"></div>
            <ng-container *ngFor="let jobsite of selectedRequest?.details?.jobsiteList; let i = index;">
                <div class="row" [ngClass]="{'request-dialog--hide': !viewAllJobsites && i > 10}">
                    <div class="col-md-3">
                        <h5 class="normal">
                            {{ jobsite?.jobsiteCode }}
                        </h5>
                    </div>
                    <div class="col-md-9">
                        <h5 class="normal">
                            {{ jobsite?.jobsiteDesc }}
                        </h5>
                    </div>
                </div>
            </ng-container>
            <div class="spacer-16"></div>
        </div>
        <div class="spacer-24"></div>
        <div class="request-dialog--end" *ngIf="selectedRequest?.details?.jobsiteList?.length === 10" colspan="2">
            <button cmx-button (click)="viewAllJobsites = !viewAllJobsites" id="cmx-btn-data-show-REQUEST">
                <ng-container *ngIf="!viewAllJobsites">
                    <span class="cmx-icon-plus" aria-hidden="true"></span>
                    {{ translationService.pt('views.requestDetail.btnViewAll') }}
                    ({{selectedRequest?.details?.jobsiteList.length }})
                </ng-container>
                <ng-container *ngIf="viewAllJobsites">
                    <span class="cmx-icon-minus" aria-hidden="true"></span>
                    {{ translationService.pt('views.requestDetail.btnViewLess') }}
                </ng-container>
            </button>
        </div>
        <div class="spacer-32"></div>
        <cmx-form-field *ngIf="selectedRequest?.status === 'R'" [title]="translationService.pt('views.profile.requests.comment')"
            [rtl]="isRTL">
            <textarea id="" cols="30" rows="10" disabled>{{ selectedRequest?.notes }}</textarea>
        </cmx-form-field>
        <div class="spacer-32"></div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align: end">
            <button cmx-button *ngIf="selectedRequest?.status === 'N' || selectedRequest?.status === 'P'" (click)="confirmRequestCancellationModal.open()">
                {{ translationService.pt('views.profile.requests.cancelRequest') }}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

<cmx-dialog templateId="MYPROFILE" #confirmRequestCancellationModal [enableFooter]="true" [rtl]="isRTL" maxWidth="700px"
    maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-warning-icon cmx-icon-warning-rounded-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.profile.requests.confirmCancelRequest') }}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align: end">
            <button cmx-button color="support" (click)="confirmRequestCancellationModal.close()">
                {{ translationService.pt('views.profile.requests.btnCancel') }}
            </button>
            <button cmx-button (click)="cancelRequests(selectedRequest)">
                {{ translationService.pt('views.profile.requests.btnOk') }}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

<cmx-dialog templateId="DATA-REQUEST" #successModalAccessRequest [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.requestData.submitSuccess') }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>