<cmx-table [dataSource]="customers" [tableSource]="customerTable" [rtl]="isRTL" [pageSize]="10">
    <ng-container *cmxHeaderTemplate="let table">
        <div fxLayout="row" id="cmx-table-customers">
            <cmx-header-cell fxFlex="5" fxLayout fxLayoutAlign="start start" *ngIf="showCheckboxes">
                <cmx-checkbox id="cmx-check-table-customer-all-{{templateId}}" [rtl]="isRTL" (change)="toggleCustomers($event)"
                    [checked]="isAllCustomerSelected()" *ngIf="isNotOnlyDefault()"></cmx-checkbox>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="40" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'customerDesc' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'customerCode' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'regionDesc' ).getName())}}
                <cmx-checkbox-filters [filters]="table.getColumn('regionDesc').getFilters()" *ngIf="showFilter">
                </cmx-checkbox-filters>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'vat' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'phoneNumber' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'email' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start">
                {{ t.pt(table.getColumn( 'countryCode' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="5" fxLayout fxLayoutAlign="start start" *ngIf="showDelete">
            </cmx-header-cell>
        </div>
    </ng-container>
    <ng-container *cmxRowTemplate="let $element">
        <div fxLayout="row" cmx-table-item [class.disabled]="$element.customerId === mainCustomer">
            <cmx-cell fxFlex="5" fxLayout="row" fxLayoutAlign="start center" *ngIf="showCheckboxes">
                <cmx-checkbox *ngIf="$element.customerId !== mainCustomer" [rtl]="isRTL" [checked]="isCustomerSelected($element.customerId)"
                    (change)="toggleCustomers($event, $element)" id="cmx-check-table-customer-{{$element.index}}-{{templateId}}"></cmx-checkbox>
            </cmx-cell>
            <cmx-cell fxFlex="40" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-customer-desc-{{$element.index}}-{{templateId}}">
                <ng-container *ngIf="$element?.customerDesc?.length > 20;else noTooltip">
                    <span [cmx-tooltip]="$element.customerDesc">{{$element.customerDesc}}</span>
                </ng-container>
                <ng-template #noTooltip>{{$element.customerDesc}}</ng-template>
            </cmx-cell>
            <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-customer-code-{{$element.index}}-{{templateId}}">
                {{ $element.customerCode }}
            </cmx-cell>
            <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-customer-region-{{$element.index}}-{{templateId}}">
                {{ $element.regionDesc }}
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-customer-vat-{{$element.index}}-{{templateId}}">
                {{ $element.vat }}
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-customer-phone-{{$element.index}}-{{templateId}}">
                {{ $element.phoneNumber }}
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-customer-email-{{$element.index}}-{{templateId}}">
                {{ $element.email }}
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-customer-country-{{$element.index}}-{{templateId}}">
                {{ t.pt($element?.countryCode?.trim()) }}
            </cmx-cell>
            <cmx-cell fxFlex="5" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-delete-customer-{{$element.index}}-{{templateId}}"
                *ngIf="showDelete">
                <span *ngIf="$element.customerId !== mainCustomer" id="cmx-row-btn-remove-customer-{{$element.index}}-{{templateId}}"
                    class="cmx-icon-trash font-bright-blue" aria-hidden="true" (click)="openRemoveCustomer($element)"></span>
            </cmx-cell>
        </div>
    </ng-container>
</cmx-table>

<cmx-dialog id="warning-CREATE-USER" #warningCustom height="400px" minHeight="400px" enableFooter="true" [rtl]="isRTL">
    <cmx-dialog-body>
        <div class="text-center" id="cmx-modal-body-center-warning-CREATE-USER">
            <span class="modal-icon modal-success-icon cmx-icon-warning-repeat font-bright-blue"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{t.pt('views.userManagement.unassigned.legalEntity')}}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align:end">
            <button cmx-button color="support" (click)="warningCustom.close()" id="cmx-btn-close-warning-CREATE-USER">
                {{t.pt('views.signin.cancel')}}
            </button>
            <button cmx-button color="primary" (click)="removeCustomer()" id="cmx-btn-continue-CREATE-USER">
                {{t.pt('views.userManagement.btn_continue')}}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>