<div class="add-permission">
    <div class="col-md-3">
        <cmx-dropdown id="cmx-dropdown-add-permission-application-dropdown" #applicationDropdown [placeholder]="translationService.pt(applicationPlaceholder)" [rtl]="isRTL" [closeOnClick]="true"
            class="cmx-input">
            <cmx-dropdown-item *ngFor="let application of userApplications" (click)="toggleApplication(application)">
                <span id="cmx-item-app-{{application.applicationCode}}-{{templateId}}">
                    {{ translationService.pt(application?.applicationName) }}
                </span>
            </cmx-dropdown-item>
        </cmx-dropdown>
    </div>
    <div class="col-md-8">
        <cmx-dropdown id="cmx-dropdown-add-permission-role-dropdown" #rolesDropdown [placeholder]="rolePlaceholder" [rtl]="isRTL" [closeOnClick]="false" [class.disabled]="!selectedApplication || roles.length === 0"
            class="cmx-input">
            <ng-container *ngFor="let role of roles ">
                <cmx-dropdown-item disableTick="true">
                    <cmx-checkbox id="cmx-checkbox-role-{{role.roleCode}}-{{templateId}}" (change)="toggleRole($event,role)" [rtl]="isRTL">
                        {{ translationService.pt(role.roleCode) }}</cmx-checkbox>
                </cmx-dropdown-item>
            </ng-container>
        </cmx-dropdown>
    </div>
    <div class="col-md-1 add-permission__icon-delete-container ">
        <span class="cmx-icon-delete" (click)="removePermission()" id="cmx-btn-remove-application-{{counter}}-{{templateId}}"></span>
    </div>
</div>
<div class="spacer-16"></div>
