<div class="row permission">
    <div class="col-md-3">
        <cmx-dropdown id="cmx-dropdown-permission-application-dropdown" #applicationDropdown [placeholder]="translationService.pt(applicationPlaceholder)" [rtl]="isRTL" [closeOnClick]="true"
            class="cmx-input">
            <ng-container *ngFor="let application of userApplications">
                <cmx-dropdown-item (click)="addApplication(application)">
                    <span id="cmx-item-app-{{application.applicationCode}}-{{templateId}}">
                        {{ translationService.pt(application?.applicationName) }}
                    </span>
                </cmx-dropdown-item>
            </ng-container>
        </cmx-dropdown>
    </div>
    <div class="col-md-8">
        <cmx-dropdown id="cmx-dropdown-permission-role-dropdown" #rolesDropdown [placeholder]="rolePlaceholder" [rtl]="isRTL" [closeOnClick]="false" class="cmx-input">
            <ng-container *ngFor="let role of roles ">
                <cmx-dropdown-item disableTick="true">
                    <cmx-checkbox id="cmx-checkbox-role-{{role.roleCode}}-{{templateId}}" [rtl]="isRTL" (change)="addRoles($event,role)">
                        {{ translationService.pt(role.roleCode) }}</cmx-checkbox>
                </cmx-dropdown-item>
            </ng-container>
        </cmx-dropdown>
    </div>
    <div class="col-md-1 permission__icon-delete-container">
        <span class="cmx-icon-delete" (click)="removeApplication()" id="cmx-btn-remove-application-{{counter}}-{{templateId}} "></span>
    </div>
</div>
<div class="spacer-16"></div>