.table-jobsite {
    margin-top: 15px;
}


:host ::ng-deep cmx-dialog {
    .cmx-dialog__container{
        z-index: 99999;
        margin-top: 15px;
    }
    .cmx-dialog__container__body{
        padding: 0;
    }
    .cmx-dialog__container__footer {
        min-height: auto;
    }
    .cmx-dialog__background {
        z-index: 99999;
        cursor: not-allowed;
    }
}

:host ::ng-deep jobsites-table cmx-table {
    .cmx-table-body {
        max-height: 205px;
        height: 205px;
        overflow-y: auto;
    }
    .cmx-header-cell{
        height: 25px;
    }

}

