<div class="prelogin">
    <panel [title]="translationService.pt('views.resetPassword.title')" [instruction]="translationService.pt('views.resetPassword.instructions')"
        (onClosingPanel)="goToLogin()">
        <div *ngIf="showError || !emailIsSent" class="error-message">
            {{ errorMsg }}
            <div class="spacer-8"></div>
        </div>
        <form [formGroup]="form" (ngSubmit)="resetPassword()" autocomplete="off">
            <input id="username" type="text" style="display: none" name="fakeusername">
            <input id="password" type="password" style="display: none" name="fakepassword">
            <cmx-form-field [title]="translationService.pt('views.resetPassword.lblNewPassword')" 
            [error]="(!form.get('password').pristine && !validPass && !passtool.active) || (form.get('password').touched && !form.get('password').valid && validPass && !passtool.active)"
            [rtl]="isRTL">
                <input 
                    id="cmx-input-password-RESET-PASSWOR" 
                    data-tid="cmx-input-password-RESET-PASSWOR" readonly 
                    type="password"
                    [ngClass]="((form.controls['password'].hasError('required') && form.controls['password'].touched)||(!form.controls['password'].hasError('required') && !form.get('password').pristine) && !validPass && passtool.active ) || (!form.controls['password'].hasError('required') && !form.get('password').pristine && !form.get('password').valid && validPass && passtool.active) ? 'form-control invalidPassword' :'form-control'"
                    formControlName="password" aria-describedby="passwordHelp" [placeholder]="translationService.pt('views.resetPassword.lblEnterNewPassword')"
                    maxlength="20" minlength="8" (focus)="validPassword()" autocomplete="new-password">
                <error-message id="cmx-error-temp-password-CREATE-USER" *ngIf="!form.controls['password'].hasError('required') && !form.get('password').pristine && !validPass && !passtool.active">
                    {{ translationService.pt('views.userManagement.form.lblInvalidFormat') }}
                </error-message>
                <error-message id="cmx-error-temp-password-CREATE-USER" *ngIf="!form.controls['password'].hasError('required') && !form.get('password').pristine && !form.get('password').valid && validPass">
                    {{ translationService.pt('views.userManagement.form.lblInvalidCharacter') }}
                </error-message>
            </cmx-form-field>
            <app-password-tooltip #passtool [passwordToCheck]="form.controls['password'].value" [rtl]="isRTL" (valid)="OnValidPassword()"></app-password-tooltip>
            <div class="spacer-32"></div>
            <cmx-form-field [title]="translationService.pt('views.resetPassword.lblConfirmPassword')" [rtl]="isRTL"
                [error]="!form.controls.confirmPassword.pristine && (!form.controls.confirmPassword.valid || tokenInactive || form.hasError('mismatchedPasswords'))">
                <input data-tid="form-input-confirmpassword" type="password" formControlName="confirmPassword"
                    [placeholder]="translationService.pt('views.resetPassword.lblConfirmPassword')" data-tid="cmx-reset-password-confirm-password-input">
                <error-message *ngIf="form.hasError('mismatchedPasswords') && !form.controls.confirmPassword.pristine && !form.controls.password.pristine">{{
                    translationService.pt('views.resetPassword.error') }}
                </error-message>
            </cmx-form-field>
            <div class="spacer-32"></div>
            <div class="end">
                <button data-tid="form-button-submit" type="submit" cmx-button [disabled]="getValid()">
                    {{ translationService.pt('views.signup.btnSave') }}
                </button>
            </div>
        </form>
    </panel>
</div>

<cmx-dialog templateId="RESET-PASSWORD" #successModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.resetPassword.success') }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>