<cmx-dialog #passwordChange minWidth="575px" width="575px" height="300px" minHeight="300px" enableFooter="emailSent">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-text">{{ modalText }}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer *ngIf="emailSent">
        <div class="end">
            <button cmx-button color="support" (click)="close()" id="cmx-btn-cancel-PASSWORD-CHANGE" [disabled]="submitting">{{ translationService.pt('views.global.btn_cancel') }}</button>
            <button cmx-button (click)="resetPassword()" id="cmx-btn-send-PASSWORD-CHANGE" [disabled]="submitting">{{ translationService.pt('views.global.btn_send') }}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

<cmx-dialog templateId="PASSWORD-CHANGE" #successModal>
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-48"></div>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.editUser.resetPasswordSuccess') }}: {{ email }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>



