$sidebar-width: 160px;
$header-height: 54px;
$dashboard-index: 9999;
.content {
    height: calc(100vh - 54px - 25px);
    margin-top: $header-height;
    margin-left: $sidebar-width;
    transition: all 0.25s ease-in-out;
    &--public {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.content-view {
    @media only screen and (max-width: 576px) {
        padding: 16px;
    }
    padding: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.content[dir='ltr'] {
    margin-left: $sidebar-width;
    margin-right: 0px;
    &.moved {
        margin-left: 0;
    }
}

.content[dir='rtl'] {
    margin-right: $sidebar-width;
    margin-left: 0px;
    &.moved {
        margin-right: 0;
    }
}

.collapsed[dir='ltr'] {
    margin-left: 30px;
}

.collapsed[dir='rtl'] {
    margin-right: 30px;
}

:host ::ng-deep .cmx-dialog__container__footer {
    text-align: right;
}

:host ::ng-deep .cmx-alert-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

:host ::ng-deep .cmx-user-menu__container {
    >div {
        border-bottom: 1px solid #D6D6D6;
        &:last-child {
            border-bottom: none;
        }
    }
}

@media only screen and (max-width: 1079px) {
    .content[dir='ltr'] {
        margin-right: 0px;
        margin-left: 0px;
    }
    .content[dir='rtl'] {
        margin-right: 0px;
        margin-left: 0px;
    }
}

// DLS Customization
:host ::ng-deep cmx-sidebar {
    .cmx-navbar__legal-entity-listing.opened {
        height: calc(100vh - 200px);
    }
    @media (max-width: 576px) {
        .cmx-navbar.entity-selector-open .cmx-navbar__legal-entity-listing {
            height: calc(100% - 56px);
        }
        .cmx-navbar.collapsed .cmx-navbar__menu.single-tone.footer {
            min-height: 165px !important;
        }
        .cmx-language.hidden {
            pointer-events: unset;
        }
    }
}

.cmx-static-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background: #002A59;
    font-family: 'Roboto', sans-serif;
    z-index: 1001;
    img {
        margin-top: 0.75rem;
        width: 102px;
        height: 28px;
        cursor: pointer;
        float: left;
        margin-left: 1.75rem;
    }
    img[dir='rtl'] {
        margin-right: 1.75rem;
        float: right;
    }
}