<cmx-nav-header *ngIf="!isOnPublicPage || sessionService.isLoggedIn" (clickMenuButton)="onClickMenuButton()" [rtl]="isRTL" [useInternalSettings]="true"
    [customPathSettings]="'/settings'">
</cmx-nav-header>
<div *ngIf="isOnPublicPage && !sessionService.isLoggedIn" class="cmx-static-header">
    <a routerLink="/"><img [src]="'https://www.cemexgo.com/cdn/logos/svg/' + logo"></a>
</div>
<cmx-sidebar *ngIf="!isOnPublicPage" [rtl]="isRTL" [pathMobileLang]="'/settings'"></cmx-sidebar>
<div class="content" [ngClass]="{'content--public': isOnPublicPage}" [dir]="dir" [class.collapsed]="_sidebar?.isCollapsed">
    <div class="content-view">
        <router-outlet></router-outlet>
    </div>
</div>
<cmx-footer [rtl]="isRTL" [privacyRoute]="'public/privacy'" [legalRoute]="'/public/legal'" [legal]="translationService.pt('views.footer.legalLink')"
    [enableCopyright]="false" [privacy]="translationService.pt('views.footer.privacyLink')" [copyright]="translationService.pt('views.footer.copyright')"
    [useRouting]="isOnPublicPage"></cmx-footer>

<cmx-dialog templateId="PAGES" #warning [rtl]="isRTL">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-warning-icon cmx-icon-warning-rounded-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">
                {{ translationService.pt('views.errorCodes.OutOfServiceN500') }}
                <div class="spacer-24"></div>
                500 {{ translationService.pt('views.errorCodes.InternalServerError500') }}
            </span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer class="cmx-dialog-demo__footer--bottom-right">
        <button cmx-button color="primary" (click)="warningModal.close()">Ok</button>
    </cmx-dialog-footer>
</cmx-dialog>