<div (domChange)="onDomChange($event)">
    <cmx-alert *ngIf="showAlert" #emailAlert type="error" [rtl]="isRTL">
        {{ errorMsg }}
    </cmx-alert>
</div>
<div class="col-md-12 user-management">
    <breadcrumbs [rtl]="isRTL" [breadCrumbs]="breadCrumbs"></breadcrumbs>
    <h1>{{translationService.pt('views.userManagement.userManagementConsole')}}</h1>
    <div class="spacer-32"></div>
    <div class="user-management__profile-card">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <div class="user-management__profile-card__avatar-container">
                            <img [src]="profilePicPath">
                        </div>
                    </div>
                    <div class="col-md-10 cmx-name-col">
                        <h2 id="cmx-user-name-USER-MANAFEMENT"> {{ user?.firstName }} {{ user?.lastName }}</h2>
                        <div class="spacer-8"></div>
                        <h5 id="cmx-user-position-USER-MANAFEMENT">{{ user?.userPosition }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <div *ngIf="isSuperUser" class="user-management__profile-card__counter" id="cmx-user-pending-request-total-USER-MANAFEMENT">
                            {{ pendingRequestTotal }}</div>
                        <div *ngIf="isSuperUser" class="user-management__profile-box__counter-desc" id="cmx-user-pending-request-USER-MANAFEMENT">
                            {{ translationService.pt('views.userManagement.pendingRequests') }}</div>
                    </div>
                    <div class="col-md-6" *ngIf="totalUsers">
                        <div class="user-management__profile-card__counter" id="cmx-user-total-user-num-USER-MANAFEMENT">
                            {{ totalUsers }}</div>
                        <div class="user-management__profile-box__counter-desc" mid="cmx-user-total-user-USER-MANAFEMENT">
                            {{ translationService.pt('views.userManagement.totalUsers') }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-48"></div>
    <cmx-tabs [rtl]="isRTL">
        <cmx-tab *ngIf="isSuperUser" id="cmx-tab-inbox-USER-MANAGEMENT" active [title]="translationService.pt('views.userManagement.inbox')"
            active (activation)="tabSelected = 'inbox'; searchTerm = ''">
            <div class="spacer-16"></div>
            <div fxLayout="row">
                <div fxFlex="50" fxLayoutAlign="start end">
                    <cmx-dropdown [rtl]="isRTL" #requestDropdown [placeholder]="translationService.pt(requestStatusSelected)"
                        [closeOnClick]="true" id="cmx-usermanagement-request-dpdown">
                        <ng-container *ngFor="let status of requestStatuses">
                            <cmx-dropdown-item [disableTick]="true" #item (click)="getRequests(status)">
                                <span id="cmx-dropdown-item-status-{{status.code}}-USER-MANAGEMENT">
                                    {{ translationService.pt(status.name) }}</span>
                            </cmx-dropdown-item>
                        </ng-container>
                    </cmx-dropdown>
                </div>
                <div fxFlex="50" fxLayoutAlign="end end">
                    <search (onSearch)="updateSearchTerm($event, 'requests')" [placeholder]="'views.userManagement.searchPlaceholderCustomerUser'"
                        templateId="request-USER-MANAGEMENT"></search>
                </div>
            </div>
            <div class="spacer-32"></div>
            <!-- Users Requests -->
            <div *ngIf="requests | async as userRequests">
                <div *ngIf="userRequests?.length === 0 && tabSelected === 'inbox'" id="cmx-text-no-request-USER-MANAGEMENT"
                    style="height: 120px">
                    {{ translationService.pt('views.userManagement.noRequests') }}
                </div>
                <requests-table [isRTL]="isRTL" *ngIf="userRequests?.length > 0 && tabSelected === 'inbox'"
                    [isAdminMode]="true" [requests]="userRequests" (onOpenRequest)="openRequestDetail($event)"
                    requestsTableDOM templateId="USER-MANAGEMENT"></requests-table>
            </div>
        </cmx-tab>
        <cmx-tab id="cmx-tab-management-USER-MANAGEMENT" title="{{ translationService.pt('views.userManagement.userManagement') }}"
            (activation)="tabSelected = 'users'; searchTerm = ''">
            <div class="spacer-16"></div>
            <div fxLayout="row">
                <div class="users-label-section" fxFlex>
                    {{ translationService.pt('views.userManagement.UsersLabel') }}
                </div>
                <div fxFlex fxLayoutAlign="end end">
                    <search (onSearch)="updateSearchTerm($event, 'users')" [placeholder]="'views.userManagement.searchPlaceholderCustomerUserEmail'"
                        templateId="user-USER-MANAGEMENT"></search>
                </div>
            </div>
            <div class="spacer-32"></div>
            <!-- Users -->
            <div *ngIf="users?.length === 0 && tabSelected === 'users'" id="cmx-text-no-users-USER-MANAGEMENT">
                {{ translationService.pt('views.userManagement.noUsers') }}
            </div>
            <users-table [isRTL]="isRTL" templateId="USER-MANAGEMENT" *ngIf="users?.length > 0 && tabSelected === 'users'"
                [users]="users" (onEditUser)="editUser($event)"></users-table>
        </cmx-tab>
    </cmx-tabs>
</div>

<buttons-footer *ngIf="tabSelected === 'users'">
    <button cmx-button id="cmx-btn-go-create-user-USER-MANAGEMENT" [routerLink]="['../create-user']">
        {{ translationService.pt('views.userManagement.btn_createNewUser') }}
    </button>
</buttons-footer>

<cmx-dialog templateId="USER-MANAGEMENT" #requestDetail class="request-dialog" [enableClose]="true" [enableHeader]="true"
    [enableFooter]="true" [rtl]="isRTL">
    <cmx-dialog-header>
        <div class="row">
            <div class="col-md-6">
                <span class="cmx-flag-status" [class.cmx-flag-status--info]="selectedRequest?.status === 'N'"
                    [class.cmx-flag-status--disabled]="selectedRequest?.status === 'C'" [class.cmx-flag-status--alert]="selectedRequest?.status === 'R'"
                    [class.cmx-flag-status--success]="selectedRequest?.status === 'A'" [class.cmx-flag-status--warning]="selectedRequest?.status === 'P'"
                    id="cmx-flag-status-request-detail">
                </span>
                {{ translationService.pt(sharedFunctions.getStatusName(selectedRequest?.status)) }}
                <h2>{{ translationService.pt('views.requestDetail.title.' + selectedRequest?.requestType) }}</h2>
                <div class="spacer-8"></div>
                <h5 class="normal">{{ selectedRequest?.requesterName }}</h5>
            </div>
            <div class="col-md-6">
                <div class="end">
                    <div>
                        <h6>{{ translationService.pt('views.global.lbl_createdDate') }}:
                            <span>{{ selectedRequest?.requestDate | cmxDateMoment }}</span>
                        </h6>
                    </div>
                    <div>
                        <h6>{{ translationService.pt('views.global.lbl_requestID') }}:
                            <span>{{ selectedRequest?.requestId }}</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-24"></div>
        <div class="h-delimiter"></div>
    </cmx-dialog-header>
    <cmx-dialog-body>
        <div class="spacer-24"></div>
        <!-- Permission Request -->
        <div *ngIf="selectedRequest?.requestType === 'R'">
            <div class="row">
                <div class="col-md-5">
                    <h6>{{ translationService.pt('views.global.lbl_application') }}</h6>
                </div>
                <div class="col-md-7">
                    <h6> {{ translationService.pt('views.global.lbl_roles') }}</h6>
                </div>
            </div>
            <div class="spacer-16"></div>
            <div class="row" *ngFor="let app of selectedRequest?.details?.applicationList">
                <div class="col-md-5">
                    <h5 class="normal">
                        {{ app?.applicationName }}
                    </h5>
                </div>
                <div class="col-md-7">
                    <h5 class="normal">
                        {{ getRolesString(app?.applicationId) }}
                    </h5>
                </div>
                <div class="spacer-24"></div>
            </div>
        </div>
        <div *ngIf="selectedRequest?.requestType === 'D'">
            <div class="row">
                <div class="col-md-3">
                    <h6>{{ translationService.pt('views.global.lbl_name') }}</h6>
                </div>
                <div class="col-md-9">
                    <h6> {{ translationService.pt('views.global.lbl_jobsiteCode') }}</h6>
                </div>
            </div>
            <div class="spacer-16"></div>
            <ng-container *ngFor="let jobsite of selectedRequest?.details?.jobsiteList; let i = index;">
                <div class="row" [ngClass]="{'request-dialog--hide': !viewAllJobsites && i > 10}">
                    <div class="col-md-3">
                        <h5 class="normal">
                            {{ jobsite?.jobsiteCode }}
                        </h5>
                    </div>
                    <div class="col-md-9">
                        <h5 class="normal">
                            {{ jobsite?.jobsiteDesc }}
                        </h5>
                    </div>
                </div>
            </ng-container>
            <div class="spacer-16"></div>
        </div>
        <div class="spacer-24"></div>
        <div class="request-dialog--end" *ngIf="selectedRequest?.details?.jobsiteList?.length > 10" colspan="2">
            <button cmx-button (click)="viewAllJobsites = !viewAllJobsites" id="cmx-btn-data-show-REQUEST">
                <ng-container *ngIf="!viewAllJobsites">
                    <span class="cmx-icon-plus" aria-hidden="true"></span>
                    {{ translationService.pt('views.requestDetail.btnViewAll') }}
                    ({{selectedRequest?.details?.jobsiteList.length }})
                </ng-container>
                <ng-container *ngIf="viewAllJobsites">
                    <span class="cmx-icon-minus" aria-hidden="true"></span>
                    {{ translationService.pt('views.requestDetail.btnViewLess') }}
                </ng-container>
            </button>
        </div>
        <div class="spacer-32"></div>
        <cmx-form-field *ngIf="selectedRequest?.status === 'R'" [title]="translationService.pt('views.userManagement.requests.rejectedComment')"
            [rtl]="isRTL">
            <textarea id="" cols="30" rows="10" disabled> {{selectedRequest?.notes }}</textarea>
        </cmx-form-field>
        <div class="spacer-32"></div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div class="request-dialog--end">
            <button cmx-button color="support" (click)="confirmRequestRejection()" *ngIf="selectedRequest?.status === 'N' || selectedRequest?.status === 'P'">
                {{ translationService.pt('views.userManagement.requests.rejectRequest') }}
            </button>
            <button cmx-button color="primary" (click)="approveRequest()" *ngIf="selectedRequest?.status === 'N' || selectedRequest?.status === 'P'">
                {{ translationService.pt('views.userManagement.requests.approveRequest') }}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

<cmx-dialog #requestCancelConfirmDialog class="request-dialog" [enableFooter]="true" [enableHeader]="true" [rtl]="isRTL"
    maxWidth="700px" maxHeight="400px">
    <cmx-dialog-header>
        <div class="request-dialog--centered">
            {{translationService.pt('views.userManagement.requests.rejectRequestConfirmation')}}
            <br> {{selectedRequest?.requestId}}
            <div class="spacer-8"></div>
        </div>
    </cmx-dialog-header>
    <cmx-dialog-body>
        <cmx-form-field [title]=" translationService.pt('views.userManagement.requests.comment') ">
            <textarea id="" cols="30" rows="10" [(ngModel)]='rejectComment'></textarea>
        </cmx-form-field>
        <div class="spacer-32"></div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div class="request-dialog--end">
            <button id="cmx-btn-cancel-USER-MANAGEMENT" cmx-button color="support" (click)="requestCancelConfirmDialog.close(); requestDetail.open();"
                [disabled]="submitRequestRejection">{{ translationService.pt('views.userManagement.requests.btnCancel')
                }}
            </button>
            <button id="cmx-btn-reject-request-USER-MANAGEMENT" cmx-button color="primary" (click)="rejectRequest()"
                [disabled]="rejectComment?.length === 0 || submitRequestRejection">
                {{ translationService.pt('views.userManagement.requests.btnConfirm') }}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

<cmx-dialog templateId="USER-MANAGEMENT" #successModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ requestSuccessMessage }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog templateId="USER-MANAGEMENT" #errorModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-error-icon cmx-icon-error-rounded-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ errorMsg }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>