.contact-info {
    color: #001B3A;
    &__title {
        font-size: 1.25rem;
    }
    &__label {
        color: #666;
        font-size: .75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__value {
        font-size: .875rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}