.prelogin {
    background-image: url('/dist/assets/images/prelogin-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin: 0;
}

:host ::ng-deep panel {
    .custom-panel {
        max-width: 45em;
    }
}

@media only screen and (max-width: 1320px) and (min-width: 320px) {
    :host ::ng-deep panel {
        .custom-panel {
            max-width: 100%;
            min-height: 100%;
            height: unset;
            margin: 0;
        }
    }
}

.pull-right {
    text-align: right;
}

.password-number {
    margin-top: 25px;
}
