<div id="createuser-container" class="col-md-12">
    <breadcrumbs [rtl]="isRTL" [breadCrumbs]="breadCrumbs"></breadcrumbs>
    <div id="cmx-createuser-pagetitle-lbl" class="page-title">{{ steps.stepIndex + 1 }}. {{ steps?.currentStep?.title }}</div>
    <div class="spacer-16"></div>
    <cmx-steps #steps [rtl]="isRTL" [enableGoToStep]="true">
        <cmx-step [done]="!this.form.invalid" id="cmx-sptep-one-CREATE-USER" [title]="translationService.pt('views.userManagement.contactInfo')"
            (onNext)="buildContactInfoData()">
            <div class="spacer-32"></div>
            <form [formGroup]="form" autocomplete="off">
                <input id="username" type="text" style="display: none" name="fakeusername">
                <input id="password" type="password" style="display: none" name="fakepassword">
                <div class="row" *ngIf="!isHauler">
                    <div class="col-md-4">
                        <div class="form-group">
                            <cmx-dropdown id="cmx-createuser-dropdown-list" [rtl]="isRTL" #customerDropdown
                                [closeOnClick]="true" [title]="translationService.pt('views.userManagement.form.lblClientNumber')"
                                [enableSearch]="true" [placeholder]="translationService.pt('views.userManagement.form.placeholderClientNumber')">
                                <cmx-dropdown-item [disableTick]="true" (click)="fillCustomerInfo(customer?.customerId)"
                                    [searchValue]="customer?.customerCode + customer?.customerDesc"
                                    *ngFor="let customer of $customers | async">
                                    <span id="cmx-dropdown-item-customer-{{i}}-CREATE-USER">
                                        {{customer?.customerCode}} - {{ customer?.customerDesc }}</span>
                                </cmx-dropdown-item>
                            </cmx-dropdown>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <cmx-form-field [title]="translationService.pt('views.userManagement.form.lblCompany')" [rtl]="isRTL">
                            <input class="input-disabled" id="cmx-input-company-CREATE-USER" type="text"
                                formControlName="company">
                        </cmx-form-field>
                    </div>
                    <div class="col-md-4">
                        <cmx-form-field [title]="translationService.pt('views.userManagement.form.lblCountry')" [rtl]="isRTL">
                            <input class="input-disabled" id="cmx-input-country-CREATE-USER" type="text"
                                formControlName="country">
                        </cmx-form-field>
                    </div>
                </div>
                <div class="spacer-16"></div>
                <div class="row">
                    <div class="col-md-4">
                        <cmx-form-field [title]="translationService.pt('views.userManagement.form.lblName')" [error]="!form.get('firstName').valid  && !form.get('firstName').pristine"
                            [rtl]="isRTL">
                            <input id="cmx-input-first-name-CREATE-USER" type="text" [placeholder]="translationService.pt('views.userManagement.form.placeholderName')"
                                formControlName="firstName" (blur)="OnValidPassword()">
                            <error-message id="cmx-error-first-name-required-CREATE-USER" *ngIf="form.get('firstName').hasError('required') && !form.get('firstName').pristine">{{translationService.pt('views.userManagement.form.lblRequired')}}</error-message>
                            <error-message id="cmx-error-first-name-invalid-CREATE-USER" *ngIf="form.get('firstName').hasError('pattern') && !form.get('firstName').pristine && !form.get('firstName').hasError('required')">
                                {{ translationService.pt('views.userManagement.form.lblInvalidFormat') }}
                            </error-message>
                        </cmx-form-field>
                    </div>
                    <div class="col-md-4">
                        <cmx-form-field [title]="translationService.pt('views.userManagement.form.lblLastName')"
                            [error]="!form.get('lastName').valid  && !form.get('lastName').pristine" [rtl]="isRTL">
                            <input id="cmx-input-last-name-CREATE-USER" type="text" [placeholder]="translationService.pt('views.userManagement.form.placeholderLastName')"
                                formControlName="lastName" (blur)="OnValidPassword()">
                            <error-message id="cmx-error-last-name-required-CREATE-USER" *ngIf="form.get('lastName').hasError('required') && !form.get('lastName').pristine">{{translationService.pt('views.userManagement.form.lblRequired')}}</error-message>
                            <error-message id="cmx-error-last-name-invalid-CREATE-USER" *ngIf="form.get('lastName').hasError('pattern') && !form.get('lastName').pristine && !form.get('lastName').hasError('required')">
                                {{ translationService.pt('views.userManagement.form.lblInvalidFormat') }}
                            </error-message>
                        </cmx-form-field>
                    </div>
                    <div class="col-md-4">
                        <cmx-form-field [title]="translationService.pt('views.userManagement.form.lblPosition')"
                            [error]="!form.get('position').valid  && !form.get('position').pristine" [rtl]="isRTL">
                            <input id="cmx-input-position-CREATE-USER" type="text" [placeholder]="translationService.pt('views.userManagement.form.placeholderPosition')"
                                formControlName="position">
                            <error-message id="cmx-error-position-required-CREATE-USER" *ngIf="form.get('position').hasError('required') && !form.get('position').pristine">{{translationService.pt('views.userManagement.form.lblRequired')}}</error-message>
                            <error-message id="cmx-error-position-invalid-CREATE-USER" *ngIf="form.get('position').hasError('pattern') && !form.get('position').pristine && !form.get('position').hasError('required')">
                                {{ translationService.pt('views.userManagement.form.lblInvalidFormat') }}
                            </error-message>
                        </cmx-form-field>
                    </div>
                </div>
                <div class="spacer-16"></div>
                <div class="row">
                    <div class="col-md-4">
                        <cmx-form-field [title]="translationService.pt('views.userManagement.form.lblEmail')" [error]="!form.get('email').valid  && !form.get('email').pristine"
                            [rtl]="isRTL">
                            <input id="cmx-input-email-CREATE-USER" type="text" [placeholder]="translationService.pt('views.userManagement.form.placeholderEmail')"
                                formControlName="email" (blur)="OnValidPassword()">
                            <error-message id="cmx-error-email-required-CREATE-USER" *ngIf="form.get('email').hasError('required') && !form.get('email').pristine">{{translationService.pt('views.userManagement.form.lblRequired')}}</error-message>
                            <error-message id="cmx-error-email-invalid-CREATE-USER" *ngIf="form.controls['email'].hasError('patternInvalid') && !form.controls['email'].pristine && !form.controls['email'].hasError('required')">
                                {{translationService.pt('views.userManagement.form.lblInvalidFormat')}}
                            </error-message>
                        </cmx-form-field>
                    </div>
                    <div class="col-md-4">
                        <cmx-form-field [title]="translationService.pt('views.userManagement.form.lblPhone')" [error]="!form.get('phone').valid  && !form.get('phone').pristine"
                            [rtl]="isRTL">
                            <input id="cmx-input-phone-CREATE-USER" type="text" [placeholder]="translationService.pt('views.userManagement.form.placeholderPhone')"
                                formControlName="phone">
                            <error-message id="cmx-error-phone-required-CREATE-USER" *ngIf="form.controls['phone'].hasError('required') && !form.controls['phone'].pristine">
                                {{ translationService.pt('views.userManagement.form.lblRequired') }}
                            </error-message>
                            <error-message id="cmx-error-phone-invalid-CREATE-USER" *ngIf="form.controls['phone'].hasError('pattern') && !form.controls['phone'].pristine && !form.controls['phone'].hasError('required')">
                                {{ translationService.pt('views.userManagement.form.lblInvalidFormat') }}
                            </error-message>
                        </cmx-form-field>
                    </div>
                    <div class="col-md-4">
                        <cmx-form-field [title]="translationService.pt('views.userManagement.form.lblTmpPassword')" 
                            [error]="(form.controls['temporaryPassword'].hasError('required') && form.controls['temporaryPassword'].touched && !passtool.active) || (!form.get('temporaryPassword').pristine && !validPass && !passtool.active) || (form.get('temporaryPassword').touched && !form.get('temporaryPassword').valid && validPass && !passtool.active)"
                            [rtl]="isRTL">
                            <input id="cmx-input-temp-password-CREATE-USER" data-tid="cmx-input-temp-password-CREATE-USER"
                                [ngClass]="((form.controls['temporaryPassword'].hasError('required') && form.controls['temporaryPassword'].touched)||(!form.controls['temporaryPassword'].hasError('required') && !form.get('temporaryPassword').pristine) && !validPass && passtool.active ) || (!form.controls['temporaryPassword'].hasError('required') && !form.get('temporaryPassword').pristine && !form.get('temporaryPassword').valid && validPass) ? 'form-control invalidPassword' :'form-control'"
                                readonly type="password" formControlName="temporaryPassword"
                                aria-describedby="temporaryPasswordHelp" [placeholder]="translationService.pt('views.userManagement.form.placeholderTmpPassword')"
                                maxlength="20" minlength="8" (focus)="validPassword()" autocomplete="new-password">
                            <error-message id="cmx-error-temp-password-CREATE-USER" *ngIf="form.controls['temporaryPassword'].hasError('required') && form.controls['temporaryPassword'].touched && !passtool.active">
                                {{ translationService.pt('views.userManagement.form.lblRequired') }}
                            </error-message>
                            <error-message id="cmx-error-temp-password-CREATE-USER" *ngIf="!form.controls['temporaryPassword'].hasError('required') && !form.get('temporaryPassword').pristine && !validPass && !passtool.active">
                                {{ translationService.pt('views.userManagement.form.lblInvalidFormat') }}
                            </error-message>
                            <error-message id="cmx-error-temp-password-CREATE-USER" *ngIf="!form.controls['temporaryPassword'].hasError('required') && !form.get('temporaryPassword').pristine && !form.get('temporaryPassword').valid && validPass">
                                {{ translationService.pt('views.userManagement.form.lblInvalidCharacter') }}
                            </error-message>
                        </cmx-form-field>
                        <app-password-tooltip #passtool [passwordToCheck]="form.controls['temporaryPassword']?.value" [rtl]="isRTL"
                            (valid)="OnValidPassword()"></app-password-tooltip>
                    </div>
                </div>
            </form>
            <br>
            <br>
        </cmx-step>
        <cmx-step [done]="!this.form.invalid" id="cmx-sptep-two-CREATE-USER" [title]="translationService.pt('views.userManagement.assignAppsAndRoles')">
            <div class="spacer-32"></div>
            <div class="col-md-12">
                <contact-info #contactInfo [data]="profileContactInfo"></contact-info>
                <div class="spacer-48"></div>

                <section class="assign-access">
                    <div class="aa-title">{{translationService.pt('views.userManagement.AssignAccessTitle')}}</div>
                    <div class="spacer-16"></div>
                    <div class="row">
                        <div class="col-sm-7">
                            <p>
                                {{translationService.pt('views.userManagement.AssignAccessDesc')}}. {{translationService.pt('views.userManagement.EditAccesses')}}.
                            </p>
                        </div>
                        <div class="col-sm-5 add-perm-area">
                            <button id="cmx-btn-add-permission-CREATE-USER" cmx-button *ngIf="(steps.stepIndex + 1) === 2" (click)="addPermission()"
                                [disabled]="!canAssignNewPermission">
                                {{translationService.pt('views.userManagement.btnAssignPermission')}}
                            </button>
                        </div>
                    </div>
                </section>
                <div class="spacer-48"></div>

                <section *ngIf="!appsInDOM" class="no-apps-assigned">
                    <div class="spacer-48"></div>
                    <div class="spacer-48"></div>
                    <p class="no-apps-assigned-label">
                        {{translationService.pt('views.userManagement.NoAppsAssignedPart1')}}.
                        <button (click)="addPermission()" cmx-link id="no-apps-assigned-addApp-btn">
                            <span class="no-apps-button">{{translationService.pt('views.userManagement.btnAssignPermission')}}</span>
                        </button>
                        {{translationService.pt('views.userManagement.NoAppsAssignedPart2')}}.
                    </p>
                </section>

                <div #permissionsContainer></div>
            </div>
        </cmx-step>
        <cmx-step [done]="!this.form.invalid" id="cmx-sptep-thre-CREATE-USER" [title]="translationService.pt('views.userManagement.assignData')">
            <p style="white-space: pre-line;">
                {{translationService.pt('views.userManagement.AssignDataDesc')}}.
                {{translationService.pt('views.userManagement.EditAccesses')}}.
            </p>
            <div class="spacer-16"></div>
            <cmx-tabs [rtl]="isRTL">
                <!-- Customers -->
                <cmx-tab id="cmx-tab-customer-CREATE-USER" [title]="translationService.pt('views.userManagement.tabLegalEntities')" active>
                    <div class="spacer-16"></div>
                    <div fxFlex fxLayoutAlign="end end" [dir]="isRTL">
                        <button id="cmx-btn-remove-multiple-legal-entities-CREATE-USER" cmx-button color="support" [rtl]="isRTL"
                        [disabled]="selectedCustomersDelet.length < 2" (click)="openWarningDialog(true)">
                            {{ translationService.pt('views.global.remove') }}
                        </button>
                        &nbsp;&nbsp;
                        <button id="cmx-btn-add-jobsites-CREATE-USER" cmx-button (click)="openLegalEntitesDialog()">
                            {{ translationService.pt('views.userManagement.addLegalEntities') }}
                        </button>
                    </div>
                    <div class="spacer-32"></div>
                    <customers-table [customers]="selectedCustomers" *ngIf="selectedCustomers?.length > 0"
                        (onCustomersToggled)="updateSelectedCustomers($event)" [showCheckboxes]="true" templateId="CREATE-USER"
                        [isRTL]="isRTL" [showDelete]="true" [mainCustomer]="customerId" #tableCustomerList>
                    </customers-table>
                    <div fxLayout="row"  *ngIf="selectedCustomers?.length === 0 ">
                        <div fxFlex fxLayoutAlign="center center">
                            {{ translationService.pt('views.userManagement.noCustomers') }}
                        </div>
                    </div>
                </cmx-tab>
                <!-- Jobsites -->
                <cmx-tab id="cmx-tab-jobsite-CREATE-USER" [title]="translationService.pt('views.userManagement.tabLocations')" active>
                    <div style="min-height: 250px;">
                        <div class="spacer-16"></div>
                        <div fxLayout="row">
                            <div fxFlex fxLayoutAlign="end end">
                                <button id="cmx-btn-remove-multiple-jobsite-CREATE-USER" cmx-button color="support"
                                [disabled]="selectedJobsiteDelet.length < 2" (click)="openWarningDialog(false)">
                                    {{ translationService.pt('views.global.remove') }}
                                </button>
                                &nbsp;&nbsp;
                                <button id="cmx-btn-add-jobsites-CREATE-USER" cmx-button (click)="openJobsiteDialog()">
                                    {{ translationService.pt('views.userManagement.addLocations') }}
                                </button>
                            </div>
                        </div>
                        <div class="spacer-32"></div>
                        <div *ngIf="jobsites?.length > 0 && selectedJobsites.length === 0" fxLayout="row">
                            <div fxFlex fxLayoutAlign="center center">
                                <span class="input-text">{{ translationService.pt('views.userManagement.locations.info')}} </span>
                                <button cmx-link (click)="openJobsiteDialog()" style="margin: 0 3px 0 10px;"> {{ translationService.pt('views.userManagement.addLocations') }} </button>
                                <span class="input-text"> {{ translationService.pt('views.userManagement.locations.info.user') }} </span>
                            </div>
                        </div>
                        <span class="cmx-icon-warning-repeat font-bright-blue" aria-hidden="true" *ngIf="selectallCheckedJobsites">
                            <span class="input-placeholder">{{translationService.pt('views.userManagement.enable.option.locations')}}</span>
                        </span>
                        <jobsites-table [jobsites]="filteredJobsites" *ngIf="filteredJobsites?.length > 0" (onJobsitesToggled)="updateSelectedJobsites($event)"
                            [showCheckboxes]="true" [showDelete]="true" templateId="CREATE-USER" #tableJobsiteList [isRTL]="isRTL">
                        </jobsites-table>
                        <div id="cmx-result-not-jobsite-CREATE-USER" *ngIf="jobsites?.length === 0 " fxLayout="row">
                            <div fxFlex fxLayoutAlign="center center">
                                <span class="input-text"> {{translationService.pt('views.userManagement.noJobsites')}} </span>
                            </div>
                        </div>
                    </div>
                </cmx-tab>
            </cmx-tabs>
        </cmx-step>
        <cmx-step [done]="!this.form.invalid && customerId > 1" id="cmx-sptep-four-CREATE-USER" [title]="translationService.pt('views.userManagement.summary')">
            <div class="spacer-32"></div>
            <div class="col-sm-12">
                <contact-info #contactInfo [withNumber]="true" [data]="profileContactInfo"></contact-info>
                <div class="spacer-32"></div>
                <div class="spacer-8"></div>

                <div *ngIf="selectedApplications?.length > 0">
                    <div class="summary-title" id="cmx-title-app-roles-CREATE-USER">
                        2. {{translationService.pt('views.userManagement.appsAndRoles')}}
                    </div>
                    <table class="table" *ngIf="selectedApplications?.length > 0">
                        <thead>
                            <tr>
                              <td id="cmx-title-app-CREATE-USER">{{translationService.pt('views.userManagement.lblApplication')}}</td>
                              <td id="cmx-title-roles-CREATE-USER">{{translationService.pt('views.userManagement.lblRoles') }}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let app of selectedApplications">
                                <tr>
                                  <td id="cmx-title-app-{{app.applicationCode}}-CREATE-USER">{{translationService.pt(app?.applicationName)}}</td>
                                  <td id="cmx-title-app-{{app.applicationCode}}-roles-CREATE-USER">{{getRolesString(app.applicationId)}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div class="spacer-16"></div>
                </div>

                <div class="summary-title" id="cmx-title-access-data-CREATE-USER">
                    <span>{{selectedApplications?.length ? 3 : 2}}</span>. {{translationService.pt('views.userManagement.accessToData')}}
                </div>
                <div class="spacer-16"></div>
                <cmx-tabs [rtl]="isRTL" id="access-data-tabs">
                    <cmx-tab [title]="translationService.pt('views.userManagement.lblLegalEntities')">
                        <table class="table" *ngIf="selectedCustomers?.length > 0">
                            <thead>
                                <tr>
                                  <td id="cmx-title-customer-code-CREATE-USER">{{ translationService.pt('views.global.lbl_code')}}</td>
                                  <td id="cmx-title-customer-name-CREATE-USER">{{ translationService.pt('views.global.lbl_name')}}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let customer of selectedCustomers; let i = index">
                                    <tr [ngClass]="{'hide': !showMoreCust && i > 4}">
                                        <td id="cmx-result-customer-code-{{i}}-CREATE-USER">{{ customer.customerCode }}</td>
                                        <td id="cmx-result-customer-desc-{{i}}-CREATE-USER">{{ customer.customerDesc }}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td style="text-align: end" *ngIf="selectedCustomers.length > 5" colspan="2">
                                        <button cmx-button (click)="showMoreCust = !showMoreCust" id="cmx-btn-customer-show-CREATE-USER">
                                            <ng-container *ngIf="!showMoreCust">
                                                <span class="cmx-icon-plus" aria-hidden="true"></span>
                                                {{ translationService.pt('views.userManagement.btnShowAll') }}
                                            </ng-container>
                                            <ng-container *ngIf="showMoreCust">
                                                <span class="cmx-icon-minus" aria-hidden="true"></span>
                                                {{ translationService.pt('views.userManagement.btnShowLess') }}
                                            </ng-container>
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </cmx-tab>
                    <cmx-tab [title]="translationService.pt('views.userManagement.lblLocations')">
                        <table class="table" *ngIf="selectedJobsites?.length > 0">
                            <thead>
                                <tr>
                                  <td id="cmx-title-jobsite-code-CREATE-USER"> {{ translationService.pt('views.global.lbl_code')}}</td>
                                  <td id="cmx-title-jobsite-name-CREATE-USER"> {{ translationService.pt('views.global.lbl_name')}}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let jobsite of selectedJobsites; let i = index">
                                    <tr [ngClass]="{'hide': !showMoreJobsite && i > 4}">
                                        <td id="cmx-result-jobsite-code-{{i}}-CREATE-USER">{{ jobsite.jobsiteCode }}</td>
                                        <td id="cmx-result-jobsite-desc-{{i}}-CREATE-USER">{{ jobsite.jobsiteDesc }}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td style="text-align: end" *ngIf="selectedJobsites.length > 5" colspan="2">
                                        <button cmx-button (click)="showMoreJobsite = !showMoreJobsite" id="cmx-btn-jobsites-show-CREATE-USER">
                                            <ng-container *ngIf="!showMoreJobsite">
                                                <span class="cmx-icon-plus" aria-hidden="true"></span>
                                                {{ translationService.pt('views.userManagement.btnShowAll') }}
                                            </ng-container>
                                            <ng-container *ngIf="showMoreJobsite">
                                                <span class="cmx-icon-minus" aria-hidden="true"></span>
                                                {{ translationService.pt('views.userManagement.btnShowLess') }}
                                            </ng-container>
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </cmx-tab>
                </cmx-tabs>
            </div>
        </cmx-step>
    </cmx-steps>
</div>

<buttons-footer>
    <button (click)="router.navigate(['/user-management'])" id="cmx-btn-cancel-CREATE-USER" cmx-button color="support">
        {{ translationService.pt('views.userManagement.btnCancel') }}
    </button>
    <button [disabled]="(steps.stepIndex + 1) === 1" (click)="steps.backStep()" id="cmx-btn-previous-CREATE-USER" cmx-button color="support">
        {{ translationService.pt('views.userManagement.btnPrevious') }}
    </button>
    <button id="cmx-btn-next-CREATE-USER" cmx-button *ngIf="(steps.stepIndex + 1) !==4" (click)="steps.nextStep()" [disabled]="getValid()">
        {{ translationService.pt('views.userManagement.btnNext') }}
    </button>
    <button id="cmx-btn-submit-CREATE-USER" cmx-button color="primary" *ngIf="(steps.stepIndex + 1) === 4" (click)="submitUser()"
        [disabled]="!this.form.valid || submitting">
        {{ translationService.pt('views.userManagement.btnSubmit') }}
    </button>
</buttons-footer>

<div #scrollableDiv class="scrollable-div"></div>

<cmx-dialog templateId="CREATE-USER" #successModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.userManagement.userCreated') }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog templateId="CREATE-USER" #errorModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-error-icon cmx-icon-error-rounded-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ errorMsg }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog id="success-CREATE-USER" #successLocCreateUser enableFooter="true" height="400px" minHeight="400px" [rtl] = "isRTL" >
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{templateMsg}}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align:end">
            <button cmx-button color="primary" (click)="successLocCreateUser.close()" id="cmx-btn-ok-success-CREATE-USER">
                {{translationService.pt('views.actionLog.btnOk')}}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

<cmx-dialog id="warning-CREATE-USER" #warningDelete height="400px" minHeight="400px" enableFooter="true" [rtl] = "isRTL" >
    <cmx-dialog-body>
        <div class="text-center" id="cmx-modal-body-center-warning-CREATE-USER">
            <span class="modal-icon modal-success-icon cmx-icon-warning-repeat font-bright-blue"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{templateMsg}}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align:end" >
            <button cmx-button color="support" (click)="warningDelete.close()" id="cmx-btn-close-warning-CREATE-USER">
                {{translationService.pt('views.signin.cancel')}}
            </button>
            <button cmx-button color="primary" (click)="deleteMultipleLegalEntitiesLocations()" id="cmx-btn-continue-CREATE-USER">
                {{translationService.pt('views.userManagement.btn_continue')}}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>


<legal-entities-modal #legalEntitiesModal (onAssignLegalEntities)="assingLegalEntities($event)" templateId="CREATE-USER" [isRTL]="isRTL"> </legal-entities-modal>
<jobsites-modal #jobsiteModal (onAssign)="assingjobsite($event)" templateId="CREATE-USER" [isRTL]="isRTL"> </jobsites-modal>
