:host {
    padding-bottom: 5%;
}

.scrollable-div {
    min-height: 150px;
    width: 100%;
}

.hide {
    display: none;
}

// Customization DLS
.input-disabled {
    background-color: transparent !important;
    border: 0 !important;
    &:hover {
        background-color: transparent !important;
        border: 0 !important;
    }
}

:host ::ng-deep cmx-steps {
    .cmx-stepper {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        max-width: 70%;
    }
    .step-control__buttons {
        display: none;
    }
    .cmx-stepper__step--done {
        cursor: pointer;
    }
    .cmx-stepper__controller {
        display: none;
    }
}

:host ::ng-deep cmx-tabs {
    display: block;
    &::before {
        content: none;
    }
}

.hide {
    display: none;
}

:host ::ng-deep jobsites-table {
    .cmx-icon-trash {
        cursor: pointer;
        margin-right: 10px;
        font-size: 18px;
        font-weight: 800;
        line-height: inherit;
    }
}

:host ::ng-deep customers-table {
    .cmx-icon-trash {
        cursor: pointer;
        margin-right: 10px;
        font-size: 18px;
        font-weight: 800;
        line-height: inherit;
    }
}

.aa-title {
    font-size: 1.25rem;
    color: #001B3A;
}

.add-perm-area {
    text-align: end;
}

.no-apps-assigned {
    text-align: center;
}

.no-apps-button {
    font-size: 1rem;
    line-height: 1.25rem;
}

.summary-title {
    font-size: 1.25rem;
    color: #001B3A;
}

table tbody {
    tr:nth-child(even) {
        background-color: rgb(232, 235, 239);
    }
    tr:nth-child(odd) {
        background-color: white;
    }
}

table thead tr td {
    font-weight: bold;
}

:host ::ng-deep cmx-form-field {
    &.cmx-form-group {
        & input[type='password'] {
            &.invalidPassword {
                border: 1px solid #ee3d42;
            }
        }
    }
}

:host ::ng-deep cmx-dialog {
    .cmx-dialog__container {
        z-index: 99999;
    }
    .cmx-dialog__background {
        z-index: 99999;
        cursor: not-allowed;
    }
}

:host ::ng-deep cmx-form-field[dir=rtl] {
    &.cmx-form-group {
        & input[type='text'] {
            unicode-bidi: plaintext;
            direction: rtl;
            text-align: right;
        }
        & input[type='text']:focus {
            unicode-bidi: embed;
            direction: rtl;
        }
    }
}