<div class="col-md-6 offset-md-3 col-sm-12" style="text-align: justify" [ngClass]="{'rtl' : isRTL}">
  <h1>{{ translationService.pt('views.agreements.title') }}</h1>
  <div class="spacer-24"></div>
  <div [innerHTML]="agreementContent | safeHtml"></div>
</div>