<div class="col-md-12">
    <breadcrumbs [rtl]="isRTL" [breadCrumbs]="breadCrumbs"></breadcrumbs>
    <div id="cmx-selfresetpassword-title" class="custom-header-local">{{translationService?.pt('views.selfResetPassword.title')}}</div>
    <div class="col-md-4">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="spacer-32"></div>
            <div class="end">
                <a href="javascript:void(0)" class="show-password" (mouseenter)="showCurrentPassword=true" (mouseleave)="showCurrentPassword=false"
                    tabindex="-1">{{ translationService.pt('views.selfResetPassword.btnShow') }}</a>
            </div>
            <cmx-form-field [title]="translationService.pt('views.selfResetPassword.lblCurrentPassword')" [rtl]="isRTL"
                [error]="wrongPassword">
                <input [type]="showCurrentPassword ? 'text' : 'password'" class="form-control" formControlName="currentPassword"
                    aria-describedby="passwordHelp" [placeholder]="translationService.pt('views.selfResetPassword.lblEnterCurrentPassword')"
                    id="cmx-input-current-password-SELF-RESET-PASSWORD">
                <error-message *ngIf="wrongPassword">
                    <span id="cmx-selfreset-password-error-lbl">{{ translationService.pt('views.selfResetPassword.lblInvalidPassword') }}</span>
                </error-message>
            </cmx-form-field>
            <div class="spacer-32"></div>
            <div class="end">
                <a href="javascript:void(0)" class="show-password" (mouseenter)="showNewtPassword=true" (mouseleave)="showNewtPassword=false"
                    tabindex="-1">{{ translationService.pt('views.selfResetPassword.btnShow') }}</a>
            </div>
            <cmx-form-field 
                [title]="translationService.pt('views.selfResetPassword.lblNewPassword')" 
                [error]="(!form.get('password').pristine && !validPass && !passtool.active) || (form.get('password').touched && !form.get('password').valid && validPass && !passtool.active)"
                [rtl]="isRTL" >
                <input 
                    [type]="showNewtPassword ? 'text' : 'password'" 
                    class="form-control"
                    [ngClass]="((form.controls['password'].hasError('required') && form.controls['password'].touched)||(!form.controls['password'].hasError('required') && !form.get('password').pristine) && !validPass && passtool.active ) || (!form.controls['password'].hasError('required') && !form.get('password').pristine && !form.get('password').valid && validPass && passtool.active) ? 'form-control invalidPassword' :'form-control'"
                    formControlName="password" 
                    aria-describedby="passwordHelp"
                    [placeholder]="translationService.pt('views.selfResetPassword.lblEnterNewPassword')" 
                    (focus)="validPassword()"
                    readonly id="cmx-input-password-SELF-RESET-PASSWORD">
                <error-message id="cmx-error-temp-password-CREATE-USER" *ngIf="!form.get('password').pristine && !validPass && !passtool.active">
                    {{ translationService.pt('views.userManagement.form.lblInvalidFormat') }}
                </error-message>
                <error-message id="cmx-error-temp-password-CREATE-USER" *ngIf="!form.controls['password'].hasError('required') && !form.get('password').pristine && !form.get('password').valid && validPass">
                    {{ translationService.pt('views.userManagement.form.lblInvalidCharacter') }}
                </error-message>
            </cmx-form-field>
            <app-password-tooltip #passtool [passwordToCheck]="form.controls.password.value" [rtl]="isRTL" (valid)="OnValidPassword()"></app-password-tooltip>
            <div class="spacer-32"></div>
            <div class="end">
                <a href="javascript:void(0)" class="show-password" (mouseenter)="showConfirm=true" (mouseleave)="showConfirm=false"
                    tabindex="-1">{{ translationService.pt('views.selfResetPassword.btnShow') }}</a>
            </div>
            <cmx-form-field [title]="translationService.pt('views.selfResetPassword.lblConfirmPassword')" [rtl]="isRTL"
                [error]="!form.controls.confirmPassword.pristine && (!form.controls.confirmPassword.valid || form.hasError('mismatchedPasswords'))">
                <input [type]="showConfirm ? 'text' : 'password'" formControlName="confirmPassword" [placeholder]="translationService.pt('views.selfResetPassword.lblConfirmPassword')"
                    data-tid="cmx-reset-password-confirm-password-input" id="cmx-input-confirm-password-SELF-RESET-PASSWORD">
                <error-message *ngIf="form.hasError('mismatchedPasswords') && !form.controls.confirmPassword.pristine && !form.controls.password.pristine">{{translationService.pt('views.selfResetPassword.error')}}</error-message>
            </cmx-form-field>
            <div class="spacer-32"></div>
            <div class="end">
                <button type="submit" cmx-button color="primary" [disabled]="getValid()" id="cmx-selfreset-password-save-btn">{{ translationService.pt('views.selfResetPassword.btnSave') }}</button>
            </div>
        </form>
    </div>
    <div class="spacer-48"></div>
</div>

<cmx-dialog templateId="SELF-RESET-PASSWORD" #successModal [rtl]="isRTL">
    <cmx-dialog-body>
        <div class="modal-content" id="cmx-selfreset-password-success-modal">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-48"></div>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.selfResetPassword.submitSuccess') }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>