.custom-header-local {
    color: #001B3B;
    font-size: 30px;
    font-weight: bold;
}

.scrollable-div {
    min-height: 150px;
    width: 100%;
}

.show-password {
    //float: right;
    position: relative;
    top: 27px;
}

:host ::ng-deep cmx-form-field {
    &.cmx-form-group {
        & input[type='password'] {
            &.invalidPassword {
                border: 1px solid #ee3d42;
            }
        }
    }
}

:host ::ng-deep cmx-form-field[dir='rtl'] {
    &.cmx-form-group {
        & input[type='text'] {
            unicode-bidi: plaintext;
            direction: rtl;
            text-align: right;
            color: transparent;
            text-shadow: 0 0 0 #232323;
        }
    }
}