<div class="col-md-12 edit-user">
    <breadcrumbs [rtl]="isRTL" [breadCrumbs]="breadCrumbs"></breadcrumbs>
    <h1 id="cmx-edituser-pagetitle-lbl">{{ translationService.pt('views.userManagement.edit.userProfile') }}</h1>
    <div class="spacer-32"></div>
    <profile-box [isRTL]="isRTL" [dataSource]="user" [imgPath]="profilePicPath" [isAdmin]="true" (onDisableUser)="openConfirmUserStatusUpdate()"
        (onOpenActionLog)="openActionLog()" templateId="EDIT-USER"></profile-box>
    <div class="spacer-48"></div>
    <cmx-tabs [rtl]="isRTL">
        <cmx-tab id="cmx-tab-acces-data-EDIT-USER" [title]="translationService.pt('views.userManagement.edit.accessToApps')"
            active (activation)="tabSelected = 'apps'" [rtl]="isRTL">
            <div class="spacer-24"></div>
            <p class="apps-roles-desc" *ngIf="visibleAppsForAdmin > 0">
              {{translationService.pt('views.userManagement.appsRolesDesc')}}
              {{user?.firstName}}.
              {{translationService.pt('views.userManagement.appsRolesDesc2')}}
            </p>
            <div class="spacer-24"></div>
            <div style="text-align: end;">
              <button id="cmx-btn-add-permission-EDIT-USER" cmx-button (click)="addPermissionRow()" *ngIf="tabSelected === 'apps' && !isDigitalAdmin"
              [disabled]="!canAssignNewPermission">
              <span></span>{{ translationService.pt('views.userManagement.btnAssignPermission') }}</button>
            </div>
            <div *ngIf="visibleAppsForAdmin === 0 && counter === 0">
                <div class="spacer-48"></div>
                <div fxLayout="row">
                    <div fxFlex fxLayoutAlign="center center">
                        <span class="input-text">
                            {{ translationService.pt('views.editUser.noAccessToApps1') }}&nbsp;</span>
                        <button cmx-link (click)="addPermissionRow()" *ngIf="!isDigitalAdmin">
                            {{ translationService.pt('views.userManagement.btnAssignPermission') }}
                        </button>
                        <span class="input-text" *ngIf="!isDigitalAdmin">
                            &nbsp;{{ translationService.pt('views.editUser.noAccessToApps2') }}
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="counter > 0" class="permission-titles">
              <div class="col-md-3">{{translationService.pt('views.userManagement.lblApplication')}}</div>
              <div class="col-md-8">{{translationService.pt('views.userManagement.lblRoles')}}</div>
            </div>
            <div *ngIf="counter > 0" class="spacer-8"></div>
            <div #permissionsContainer></div>
        </cmx-tab>
        <cmx-tab id="cmx-tab-customer-EDIT-USER" [title]="translationService.pt('views.userManagement.tabLegalEntities')"
            active (activation)="tabSelected = 'customers'" [rtl]="isRTL">
            <div class="spacer-32"></div>
            <div fxFlex fxLayoutAlign="end end">
                <search data-tid="customer-edit-user" (onSearch)="updateSearchTerm($event)" [placeholder]="'views.userManagement.edit.searchPlaceholderName'"
                    templateId="customer-EDIT-USER"></search>
            </div>
            <div class="spacer-24"></div>
            <!-- User Customers -->
            <customers-table [isRTL]="isRTL" [customers]="userCustomers" *ngIf="showCustomers && userCustomers.length > 0"
                templateId="EDIT-USER" #customersTbl (onCustomersToggled)="updateSelectedCustomers($event)"
                [showCheckboxes]="!isDigitalAdmin ? true : false" [showDelete]="!isDigitalAdmin ? true : false"
                [mainCustomer]="customerId">
            </customers-table>
            <div class="spacer-24"></div>
            <div class="text-right">
                <button id="cmx-btn-Unassign-EDIT-USER" *ngIf="!isDigitalAdmin" [disabled]="selectedCustomersDelet.length < 2"
                    cmx-button (click)="openWarningDialog(true)">
                    {{ translationService.pt('views.userManagement.unassigned') }}</button>
            </div>
        </cmx-tab>
        <cmx-tab id="cmx-tab-jobsite-EDIT-USER" [title]="translationService.pt('views.userManagement.tabLocations')"
            active (activation)="tabSelected = 'locations'" [rtl]="isRTL">
            <div class="spacer-32"></div>
            <div fxFlex fxLayoutAlign="end end">
                <search data-tid="jobsite-edit-user" (onSearch)="updateSearchTerm($event)" [placeholder]="'views.userManagement.edit.searchPlaceholderCodeNameLegalEntity'"
                    templateId="jobsite-EDIT-USER"></search>
            </div>
            <div class="spacer-24"></div>
            <!-- User Jobsites -->
            <span class="cmx-icon-warning-repeat font-bright-blue" aria-hidden="true" *ngIf="selectallCheckedJobsites && userJobsites?.length > 0">
                <span class="input-placeholder">{{translationService.pt('views.userManagement.enable.option.locations')}}</span>
            </span>
            <div fxLayout="row">
                <div fxFlex fxLayoutAlign="center center" *ngIf="userJobsites?.length === 0 && !isDigitalAdmin">
                    <span class="input-text">{{ translationService.pt('views.userManagement.locations.info') }}&nbsp;</span>
                    <button cmx-link (click)="openJobsiteDialog()">
                        {{ translationService.pt('views.userManagement.addLocations') }}
                    </button>
                    <span class="input-text">&nbsp;{{
                        translationService.pt('views.userManagement.locations.info.user')}}
                    </span>
                </div>
            </div>
            <jobsites-table [isRTL]="isRTL" [jobsites]="userJobsites" *ngIf=" userJobsites.length > 0" templateId="EDIT-USER"
                (onJobsitesToggled)="updateSelectedJobsites($event)" [showCheckboxes]="!isDigitalAdmin ? true : false"
                [showDelete]="!isDigitalAdmin ? true : false" #tableJobsiteList>
            </jobsites-table>

            <div class="spacer-24"></div>
            <div class="text-right">
                <button id="cmx-btn-Unassign-EDIT-USER" *ngIf="!isDigitalAdmin" [disabled]="selectedJobsiteDelet.length < 2"
                    cmx-button (click)="openWarningDialog(false)">
                    {{ translationService.pt('views.userManagement.unassigned') }}</button>
            </div>

        </cmx-tab>
        <div class="spacer-48"></div>
    </cmx-tabs>
</div>

<buttons-footer>
    <button id="cmx-btn-data-access-EDIT-USER" cmx-button color="support" (click)="openLegalEntitesDialog()" *ngIf="tabSelected === 'customers' && !isDigitalAdmin">{{
        translationService.pt('views.userManagement.addLegalEntities') }}</button>
    <button id="cmx-btn-data-access-EDIT-USER" cmx-button color="support" (click)="openJobsiteDialog()" *ngIf="tabSelected === 'locations' && !isDigitalAdmin">{{
        translationService.pt('views.userManagement.addLocations') }}</button>
    <button id="cmx-btn-submit-EDIT-USER" cmx-button color="primary" (click)="submitPermissions()" *ngIf="tabSelected === 'apps' && !isDigitalAdmin"
        [disabled]="!hasChanged">{{ translationService.pt('views.userManagement.edit.btnSubmit') }}</button>
    <button id="cmx-btn-back-EDIT-USER" cmx-button color="support" (click)="goToHome()" *ngIf="isDigitalAdmin">
        {{translationService.pt('message.btn_back') }}
    </button>
</buttons-footer>

<div #scrollableDiv class="scrollable-div"></div>

<cmx-dialog data-tid="edit-user-success-modal" templateId="EDIT-USER" #successModal [rtl]="isRTL">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-48"></div>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ successMessage }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog data-tid="edit-user-error-modal" templateId="EDIT-USER" #errorModal [rtl]="isRTL">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-error-icon cmx-icon-error-rounded-fill"></span>
            <div class="spacer-48"></div>
            <div class="spacer-8"></div>
            <span class="modal-text">
                {{ errorMsg }}
            </span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog data-tid="edit-user-disable-modal" templateId="disable-user-EDIT-USER" #warningUserDisableModal
    [enableFooter]="true" [rtl]="isRTL">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-warning-icon cmx-icon-warning-rounded-fill"></span>
            <div class="spacer-48"></div>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.userManagement.edit.confirmUserDisable') }}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align:end">
            <button cmx-button color="support" (click)="warningUserDisableModal.close()" id="cmx-btn-cancel-disable-user-EDIT-USER">
                {{ translationService.pt('views.userManagement.edit.cancel') }}
            </button>
            <button cmx-button (click)="updateUserStatus()">
                {{ translationService.pt('views.userManagement.edit.ok') }}</button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

<cmx-dialog data-tid="permission-request-modal-warning" templateId="PERMISSION-REQUEST" #pendingChangesWarningModal [enableFooter]="true"
    [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-warning-icon cmx-icon-warning-rounded-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.requestPermission.submitConfirm') }}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <button data-tid="permission-request-btn-cancel" cmx-button color="support" (click)="pendingChangesWarningModal.close()">{{ translationService.pt('views.requestPermission.btnCancel') }}</button>
        &nbsp;
        <button data-tid="permission-request-btn-ok" cmx-button (click)="leaveRoute()">{{ translationService.pt('views.requestPermission.btnOk') }}</button>
    </cmx-dialog-footer>
</cmx-dialog>


<legal-entities-modal #legalEntitiesModal (onAssignLegalEntities)="assingLegalEntities($event)" templateId="EDIT-USER" [isRTL]="isRTL"> </legal-entities-modal>
<jobsites-modal #jobsiteModal (onAssign)="assingjobsite($event)" templateId="EDIT-USER" [isRTL]="isRTL"> </jobsites-modal>


<cmx-dialog id="success-EDIT-USER" #successLocEditUser enableFooter="true" height="400px" minHeight="400px" [rtl] = "isRTL" >
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{templateMsg}}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align:end">
            <button cmx-button color="primary" (click)="successLocEditUser.close()" id="cmx-btn-ok-success-EDIT-USER">
                {{translationService.pt('views.actionLog.btnOk')}}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

<cmx-dialog id="warning-EDIT-USER" #warningDelete height="400px" minHeight="400px" enableFooter="true" [rtl] = "isRTL" >
    <cmx-dialog-body>
        <div class="text-center" id="cmx-modal-body-center-warning-EDIT-USER">
            <span class="modal-icon modal-success-icon cmx-icon-warning-repeat font-bright-blue"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{templateMsg}}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align:end" >
            <button cmx-button color="support" *ngIf="!isMoreLocation" (click)="warningDelete.close()" id="cmx-btn-close-warning-EDIT-USER">
                {{translationService.pt('views.signin.cancel')}}
            </button>
            <button cmx-button color="primary" *ngIf="!isMoreLocation" (click)="deleteMultipleLegalEntitiesLocations()" id="cmx-btn-continue-EDIT-USER">
                {{translationService.pt('views.userManagement.btn_continue')}}
            </button>
            <button cmx-button color="primary" *ngIf="isMoreLocation" (click)="warningDelete.close()" id="cmx-btn-ok-EDIT-USER">
                {{translationService.pt('views.actionLog.btnOk')}}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

