.edit-user {
    padding-bottom: 5%;
    color: #001B3A;
    h1 {
        font-size: 30px;
    }
}

.scrollable-div {
    min-height: 100px;
    width: 100%;
}

:host ::ng-deep cmx-tabs {
    display: block;
    overflow-x: unset;
    &::before {
        content: none;
    }
}

:host ::ng-deep jobsites-table {
    .cmx-icon-trash{
        cursor: pointer;
        margin-right: 10px;
        font-size: 18px;
        font-weight: 800;
        line-height: inherit;
    }

}

:host ::ng-deep customers-table {
    .cmx-icon-trash{
        cursor: pointer;
        margin-right: 10px;
        font-size: 18px;
        font-weight: 800;
        line-height: inherit;
    }

}
.action-log {
    color: #333333;
    &__title {
        font-size: 22px;
        line-height: 25px;
        text-align: center;
    }
    &--end {
        text-align: end;
    }
}

.apps-roles-desc {
  font-size: 0.875rem;
}

.permission-titles {
  display: flex;
  > div {
    font-weight: bold;
  }
}

:host ::ng-deep cmx-dialog {
    .cmx-dialog__container{
        z-index: 99999;
    }
    .cmx-dialog__background {
        z-index: 99999;
        cursor: not-allowed;
    }
}