<div class="prelogin" [ngClass]="{ 'removeScroll' : touError  }">
    <!-- Alert when something went wrong with Terms -->
    <cmx-alert id="tou-issue-alert" *ngIf="touError" type="error" [rtl]="isRTL">
    {{ translationService.pt('views.login.termsIssue') }}
    </cmx-alert>
    <!-- TODO PAPL: USE CMX ALERT-->
    <div *ngIf="!sessionExpired && showMaintenanceAlert" class="message-wrapper">
        <span class="cmx-icon-information-rounded-fill icon" aria-hidden="true"></span>
        <b>{{ translationService.pt('view.login.lblWarnMessageTitle') }}: </b>
        <span>{{ translationService.pt('view.login.lblWarnMessage') }}</span>
    </div>
    <div *ngIf="sessionExpired" class="message-wrapper">
        <span class="cmx-icon-information-rounded-fill icon" aria-hidden="true"></span>
        <b>{{ translationService.pt('views.login.alert.sessionExpireTitle') }}:
        </b>
        <span>{{ translationService.pt('views.login.alert.sessionExpireMsg') }}</span>
    </div>
    <div class="spacer-32"></div>
    <div class="col-md-12">
        <div class="language-dropdown" *ngIf="$languages | async as langs">
            <cmx-dropdown id="cmx-login-language-dropdown" [rtl]="isRTL" [placeholder]="currentLang?.languageName"
                [closeOnClick]="true">
                <cmx-dropdown-item disableTick="true" *ngFor="let language of langs" (click)="changeLanguage(language?.languageISO)">
                    <span [id]="'cmx-login-language-item-' + language?.languageISO">{{ language?.languageName }}</span>
                </cmx-dropdown-item>
            </cmx-dropdown>
        </div>
        <div class="login-wrapper">
            <cmx-login [rtl]="isRTL" [title]="translationService.pt('views.login.title')" [appName]="'DCM'" [urlRoute] = "redirectTo"></cmx-login>
        </div>
    </div>
</div>