@import './scrollbar.scss';
.language-dropdown {
    position: absolute;
    right: 10%;
    top: 10%;
    text-align: right;
    .cmx-button {
        &.cmx-button--text--icon {
            margin-top: 10px;
            margin-right: 14px;
        }
    }
}

.removeScroll {
    overflow-y: auto;
}

// DLS Customizations
:host ::ng-deep cmx-login {
    .button {
        text-transform: none;
        border: 0;
    }
}

:host ::ng-deep cmx-dropdown {
    display: block;
    .cmx-dropdown__placeholder {
        color: #fff;
        font-size: 14px;
        svg {
            width: 14px;
            height: 10px;
        }
    }
    .dropdown-item {
        width: auto;
        padding: 10px 16px;
        display: inline-flex;
        &:hover {
            background: transparent;
        }
        &::before {
            width: 0px;
        }
        white-space: normal;
    }
    .dropdown-items {
        @include cmx-scrollbar;
    }
}

.login-wrapper {
    width: 25rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 70px auto;
    height: 45rem;
}

.message-wrapper {
    height: 51px;
    width: 100%;
    background-color: #FBB03B;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 16px;
    span,
    b {
        height: 19px;
        line-height: 16px;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-size: 14px;
    }
    .icon {
        font-size: 20px;
        position: relative;
        top: 3px;
    }
}

@media only screen and (max-width: 576px) {
    .login-wrapper {
        width: 100%;
    }
    .language-dropdown {
        position: absolute;
        right: unset;
        top: unset;
    }
}