@mixin cmx-scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(0,0,0,0);
        -webkit-border-radius: 100px;
        border-radius: 100px;
    } // hover effect for both scrollbar area, and scrollbar 'thumb'
    &::-webkit-scrollbar:hover {
        background-color: rgba(0,0,0,0.20);
    } // The scrollbar 'thumb' ...that marque oval shape in a scrollbar
    &::-webkit-scrollbar-thumb:vertical {
        background: rgba(0,0,0,0.5);
        -webkit-border-radius: 100px;
        border-radius: 100px;
        background-clip: padding-box;
        border: 2px solid rgba(0,0,0,0);
        min-height: 10px; // Prevent it from getting too small
    }
    &::-webkit-scrollbar-thumb:vertical:active {
        background: rgba(0,0,0,0.61);
        -webkit-border-radius: 100px;
        border-radius: 100px;
    }
}