<div class="cmx-popover" *ngIf="active">
    <div class="cmx-popover__header">
        <span *ngIf="hasError">{{ translationService.pt(errorMsg) }}</span>
        <span *ngIf="!hasError">{{ translationService.pt('views.tool.rules') }}</span>
    </div>
    <div class="cmx-popover__body" *ngIf="!hasError">
        <div [ngClass]="!validName ? 'rowli disable-control' : 'rowli'" *ngIf="showFirstNameDisallowed">
            <div class="iconWidth">
                <span class="cmx-icon-check acept" *ngIf="validName"></span>
            </div>
            {{translationService.pt('views.tool.not.name')}}
        </div>
        <div [ngClass]="!validLast ? 'rowli disable-control' : 'rowli'" *ngIf="showLastNameDisallowed">
            <div class="iconWidth">
                <span class="cmx-icon-check acept" *ngIf="validLast"></span>
            </div>
            {{translationService.pt('views.tool.not.lastname')}}
        </div>
        <div [ngClass]="!validUserAccount ? 'rowli disable-control' : 'rowli'" *ngIf="showUserIdDisallowed">
            <div class="iconWidth">
                <span class="cmx-icon-check acept" *ngIf="validUserAccount"></span>
            </div>
            {{translationService.pt('view.tool.not.user.account')}}
        </div>
        <div [ngClass]="!validStartsWithAlphabet ? 'rowli disable-control' : 'rowli'" *ngIf="showStartsWithAlphabet">
            <div class="iconWidth">
                <span class="cmx-icon-check acept" *ngIf="validStartsWithAlphabet"></span>
            </div>
            {{translationService.pt('views.tool.init.char')}}
        </div>
        <div [ngClass]="!validAlphabetiCharacter ? 'rowli disable-control' : 'rowli'" *ngIf="showMinAlphas">
            <div class="iconWidth">
                <span class="cmx-icon-check acept" *ngIf="validAlphabetiCharacter"></span>
            </div>
            {{translationService.pt('views.tool.two.char.alph')}}
        </div>
        <div [ngClass]="!validNumeric ? 'rowli disable-control' : 'rowli'" *ngIf="showMinNumerals">
            <div class="iconWidth">
                <span class="cmx-icon-check acept" *ngIf="validNumeric"></span>
            </div>
            {{translationService.pt('views.tool.numeric.char')}}
        </div>
        <div [ngClass]="!validLong ? 'rowli disable-control' : 'rowli'" *ngIf="showMinLength">
            <div class="iconWidth">
                <span class="cmx-icon-check acept" *ngIf="validLong"></span>
            </div>
            {{translationService.pt('views.tool.length')}}
        </div>
    </div>
</div>