.content[dir='rtl'] {
    :host ::ng-deep cmx-table {
        .cmx-header-cell {
            &.--number {
                .cmx-header-cell__text {
                    text-align: left;
                }
                .text-container {
                    float: left;
                }
            }
        }
        .text-container {
            float: right;
        }
        .icon-container {
            float: right;
        }
        .cmx-table-header {
            padding-left: 10px;
        }
        .cmx-table-header.--scroll-spacing{
            padding-right: 0px;
        }
    }
}

:host ::ng-deep cmx-cell.removeOverflow {
    overflow: unset;
}

.apps-dropdown {
    font-size: 12px;
    color: #333;
    text-transform: capitalize;
}

:host ::ng-deep cmx-checkbox {
    margin-top: 5px;
    label {
        &::before {
            content: none;
        }
    }
}

:host ::ng-deep cmx-table {
    .cmx-table-body {
        max-height: 100%;
        overflow: hidden;
    }
}

:host ::ng-deep cmx-table.users {
    .cmx-table-body {
        padding-bottom: 120px;
    }
    .cmx-table-item {
        height: auto;
    }
}

:host ::ng-deep cmx-dropdown {
    .cmx-dropdown__placeholder {
        font-weight: normal;
        font-size: .75rem;
        color: #333;
    }
    svg {
        display: none;
    }
    .dropdown-items {
        height: 120px !important;
    }
}

.disabled {
    background-color: lightgrey;
}

.detail-icon {
    font-size: 19px;
    width: unset;
    height: unset;
    color: #3FA9F5;
    cursor: pointer;
}

.um-fullname {
  color: #3FA9F5;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
