<div class="data-request col-md-12">
    <breadcrumbs [rtl]="isRTL" [breadCrumbs]="breadCrumbs">
    </breadcrumbs>
    <h1 id="cmx-title-data-request">{{ translationService.pt('views.requestData.lblRequestAccesses') }}</h1>
    <div class="spacer-16"></div>
    <div id="cmx-title-locations-DATA-REQUEST" class="data-request__type-header">
        {{ translationService.pt('views.requestData.lblJobsites') }}
    </div>
    <div class="spacer-24"></div>
    <div fxLayout="row" *ngIf="jobsitesBk?.length > 0">
        <div fxFlex fxLayoutAlign="end end">
            <search data-tid="data-request-search" (onSearch)="filter($event)" [placeholder]="'views.requestData.searchCustomerOrLocation'"
                templateId="jobsite-DATA-REQUEST">
            </search>
        </div>
    </div>
    <div class="spacer-24"></div>
    <div *ngIf="jobsites | async as jobsitesCatalog">
        <div *ngIf="jobsitesCatalog?.length > 0">
            <jobsites-table [isRTL]="isRTL" data-tid="data-request-jobsites" [jobsites]="jobsitesCatalog"
                [selectedCustomers]="userCustomers | async" [showCheckboxes]="true" (onJobsitesToggled)="selectJobsites($event)"
                templateId="DATA-REQUEST">
            </jobsites-table>
        </div>
        <no-info data-tid="data-request-noinfo" [title]="translationService.pt('views.requestData.noJobsites')"
            [showButton]="false" *ngIf="jobsitesBk.length === 0" templateId="DATA-REQUEST">
            {{ translationService.pt('views.requestData.noJobsitesMsg') }}
        </no-info>
    </div>
</div>

<buttons-footer *ngIf="jobsites.getValue().length > 0">
    <button id="cmx-btn-submit-DATA-REQUEST" cmx-button color="primary" (click)="submitDataAccessRequest()" [disabled]="!hasChanges">
        {{ translationService.pt('views.requestData.btnSubmit') }}
    </button>
</buttons-footer>

<cmx-dialog templateId="DATA-REQUEST" #successModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-success-icon cmx-icon-check-rounded-active-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.requestData.submitSuccess') }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog templateId="DATA-REQUEST" #errorModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-error-icon cmx-icon-error-rounded-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ errorMsg }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>

<cmx-dialog templateId="DATA-REQUEST" #pendingChangesWarningModal [enableFooter]="true" [rtl]="isRTL" maxWidth="700px"
    maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-warning-icon cmx-icon-warning-rounded-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ translationService.pt('views.requestData.submitConfirm') }}</span>
        </div>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <button data-tid="btn-requestdata-cancel" cmx-button color="support" (click)="pendingChangesWarningModal.close()">
            {{ translationService.pt('views.requestData.btnCancel') }}</button>
        <button data-tid="btn-requestdata-ok" cmx-button (click)="leaveRoute()">
            {{ translationService.pt('views.requestData.btnOk') }}</button>
    </cmx-dialog-footer>
</cmx-dialog>