.dashboard {
    color: #001C3B;
    @media only screen and (max-width: 576px) {
        h1 {
            text-align: center;
        }
    }
    &__subheader {
        color: #001C3B;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        display: block;
    }
    &__card {
        @media only screen and (width: 1320px) {
            max-width: 320px;
        }
        display: inline-flex;
        min-height: 120px;
        width: 100%;
        max-width: 100%;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 6px #D6D6D6;
        cursor: pointer;
        transition: all .2s;
        margin-bottom: 24px;
        &:hover {
            box-shadow: 0 2px 6px 0 #a9a9a8;
        }
        padding: 25px;
    }
    &__icon-wrapper {
        width: 95px;
    }
    &__icon {
        color: #ffffff;
        font-size: 3rem;
        padding: 3px 10px;
        height: 70px;
        width: 70px;
        border-radius: 12px 0 12px 0;
        background-color: #003876;
    }
    &__title-wrapper {
        padding: 0 15px;
        text-align: start;
        align-items: center;
        display: flex;
    }
    &__title {
        color: #001C3B;
        font-size: 16px;
        line-height: 18px;
    }
}

.agreementList {
    list-style: none;
    padding: 0;
    .checked {
        color: #7AC943;
    }
    .grey {
        color: #666;
    }
}

:host ::ng-deep cmx-dialog {
    .cmx-dialog__container__body {
        height: 350px;
    }
    .cmx-dialog__background {
        z-index: 100000;
        cursor: not-allowed;
    }
    .cmx-dialog__container {
        z-index: 100001;
    }
    .cmx-dialog__container__footer {
        display: flex;
        text-align: unset;
    }
}

:host ::ng-deep cmx-steps {
    .cmx-stepper__controller {
        display: none;
    }
    .cmx-stepper {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        max-width: 75%;
    }
    .cmx-stepper__step {
        font-size: 13px;
        &--done {
            color: #3FA9F5;
            font-weight: normal;
            font-size: 13px;
            cursor: pointer;
        }
        &--active {
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 576px) {
    :host ::ng-deep cmx-steps {
        .cmx-stepper {
            display: none;
        }
    }
}

:host ::ng-deep cmx-checkbox {
    label {
        display: block;
    }
}

.app-container {
    width: 85%;
    margin: 0 auto;
    @media only screen and (max-width: 576px) {
        width: 100%;
        margin: 0;
    }
}