<div class="dashboard" id="cmx-dashboard-container">
    <h1>{{translationService.pt('views.dashboard.welcomeDCM')}}</h1>
    <div class="spacer-32"></div>
    <div class="container-fluid" *ngIf="dcmApplications | async as applications">
        <span class="dashboard__subheader" id="cmx-title-dashboard">{{ translationService.pt('views.dashboard.myApps')
            }}</span>
        <div class="spacer-48"></div>
        <div class="app-container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let app of applications" style="text-align: center;">
                    <div class="dashboard__card" (click)="launchProduct(app.applicationUrl)" id="cmx-card-app-{{app.applicationTitle}}-DASHBOARD">
                        <div class="dashboard__icon-wrapper">
                            <div class="dashboard__icon">
                                <span [ngClass]="app?.applicationIcon"></span>
                            </div>
                        </div>
                        <div class="dashboard__title-wrapper">
                            <span class="dashboard__title">
                                {{ translationService.pt('views.sidebar.' + app.applicationTitle) }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="hasCMXLoyaltyProgram" style="text-align: center;">
                    <div class="dashboard__card" (click)="openLoyaltyProgram()" id="cmx-card-loyalty-program-DASHBOARD">
                        <div class="dashboard__icon-wrapper">
                            <div class="dashboard__icon">
                                <span class="cmx-icon-module-loyalty-program"></span>
                            </div>
                        </div>
                        <div class="dashboard__title-wrapper">
                            <span class="dashboard__title">
                                {{ cmxLoyaltyProgramName }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<cmx-dialog templateId="DASHBOARD" #agreementModal [enableClose]="true" [enableFooter]="true" maxWidth="70%" width="70%">
    <cmx-dialog-body>
        <div #topModal id="cmx-agreements-modal"></div>
        <cmx-steps (onStepChange)="scrollToTop()" #agreementSteps [ngClass]="{ 'isMobile' : isMobile }"
            [enableGoToStep]="true" [rtl]="isRTL">
            <cmx-step #termsStep [title]="translationService.pt('views.agreements.terms')">
                <span id="cmx-agreements-modal-terms-step" [innerHTML]="touContent | safeHtml"></span>
            </cmx-step>
            <cmx-step #marketingStep [title]="translationService.pt('views.agreements.marketing')" *ngIf="hasMkt">
                <span [innerHTML]="marketingContent | safeHtml"></span>
            </cmx-step>
            <cmx-step #privacyStep [title]="translationService.pt('views.agreements.privacy')">
                <span id="cmx-agreements-modal-privacy-step" [innerHTML]="privacyPolicyContent | safeHtml"></span>
                <div class="spacer-24"></div>
                <div class="row">
                    <cmx-checkbox id="cmx-agreements-modal-alloInfo-chkbox" [rtl]="isRTL" (click)="toggleAllowInfoShare()">
                        {{ translationService.pt('views.agreements.acceptInfoShareChkbox') }}</cmx-checkbox>
                    <div class="spacer-24"></div>
                </div>
                <div class="row">
                    <cmx-checkbox id="cmx-agreements-modal-agree-chkbox" [rtl]="isRTL" (click)="toggleTermsAcceptance()">
                        {{ translationService.pt('views.agreements.acceptTermsChkbox') }}</cmx-checkbox>
                </div>
            </cmx-step>
            <cmx-step #summaryStep [title]="translationService.pt('views.agreements.summary')">
                <h2 *ngIf="isMobile">{{ translationService.pt('views.agreements.summary') }}</h2>
                <div class="spacer-24"></div>
                <ul class="agreementList" id="cmx-agreements-modal-summary-step">
                    <li>
                        <span class="cmx-icon-check checked"> </span>
                        {{ translationService.pt('views.agreements.terms')}}
                    </li>
                    <div class="spacer-16"></div>
                    <li *ngIf="hasPrivacy">
                        <span class="cmx-icon-check checked"></span>
                        {{ translationService.pt('views.agreements.privacy') }}
                    </li>
                    <div *ngIf="hasPrivacy" class="spacer-16"></div>
                    <li *ngIf="hasMkt">
                        <span class="cmx-icon-check checked"></span>
                        {{ translationService.pt('views.agreements.marketing')}}
                    </li>
                    <div *ngIf="hasMkt" class="spacer-16"></div>
                    <li>
                        <span [ngClass]=" { 'cmx-icon-check checked'  : allowInformationShare, 'cmx-icon-close grey' : !allowInformationShare }"></span>
                        {{ translationService.pt('views.agreements.acceptInfoShareChkbox')}}
                    </li>
                </ul>
            </cmx-step>
        </cmx-steps>
    </cmx-dialog-body>
    <cmx-dialog-footer>
        <div style="text-align: end">
            <button cmx-button (click)="agreementSteps.backStep()" *ngIf="isMobile && agreementSteps.stepIndex !== 0">
                {{ translationService.pt('views.agreements.backBtn') }}
            </button>
            <button cmx-button color="primary" (click)="agreementSteps.nextStep()" *ngIf="!summaryStep.active && !privacyStep.active" id="cmx-agreements-modal-next-btn">
                {{ translationService.pt('views.agreements.continueBtn') }}
            </button>
            <button cmx-button color="primary" [disabled]="!termsAccepted" *ngIf="privacyStep.active" (click)="agreementSteps.nextStep()" id="cmx-agreements-modal-agree-btn">
                {{ translationService.pt('views.agreements.acceptBtn') }}
            </button>
            <button cmx-button color="primary" (click)="signAgreements()" *ngIf="summaryStep.active">
                {{ translationService.pt('views.agreements.signAgreementBtn') }}
            </button>
        </div>
    </cmx-dialog-footer>
</cmx-dialog>

<cmx-dialog templateId="DASHBOARD" #errorModal [rtl]="isRTL" maxWidth="700px" maxHeight="400px">
    <cmx-dialog-body>
        <div class="modal-content">
            <span class="modal-icon modal-error-icon cmx-icon-error-rounded-fill"></span>
            <div class="spacer-8"></div>
            <span class="modal-text">{{ errorMsg }}</span>
        </div>
    </cmx-dialog-body>
</cmx-dialog>