<cmx-table class="users" [dataSource]="requests" [tableSource]="requestTable" [rtl]="isRTL">
    <ng-container *cmxHeaderTemplate="let table">
        <div fxLayout="row" id="cmx-table-requests">
            <cmx-header-cell fxFlex="5" fxLayout fxLayoutAlign="start start" *ngIf="showCheckboxes">
                <cmx-checkbox *ngIf="activeRequests?.length > 0" [rtl]="isRTL" (change)="toggleRequest($event)"
                    [checked]="activeRequests?.length === requestsToCancel?.length" id="cmx-check-table-request-all-{{templateId}}"></cmx-checkbox>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="10" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'status' ).getName()) }}
                <cmx-checkbox-filters [filters]="table.getColumn( 'status' ).getFilters()">
                </cmx-checkbox-filters>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="10" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'requestId' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'requestType' ).getName()) }}
                <cmx-checkbox-filters [filters]="table.getColumn( 'requestType' ).getFilters()">
                </cmx-checkbox-filters>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start" *ngIf="isAdminMode">
                {{ translationService.pt(table.getColumn( 'requesterName' ).getName())}}
                <cmx-checkbox-filters [filters]="table.getColumn( 'requesterName' ).getFilters()">
                </cmx-checkbox-filters>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start" *ngIf="isAdminMode">
                {{ translationService.pt(table.getColumn( 'customerDesc' ).getName()) }}
                <cmx-checkbox-filters [filters]="table.getColumn( 'customerDesc' ).getFilters()">
                </cmx-checkbox-filters>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start">
                {{ translationService.pt(table.getColumn( 'requestDate' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start start" *ngIf="!isAdminMode">
                {{ translationService.pt(table.getColumn( 'authorizedByFullName' ).getName()) }}
            </cmx-header-cell>
            <cmx-header-cell fxFlex="15" fxLayout fxLayoutAlign="start start"></cmx-header-cell>
        </div>
    </ng-container>
    <ng-container *cmxRowTemplate="let $element">
        <div fxLayout="row" cmx-table-item>
            <cmx-cell fxFlex="5" fxLayout="row" fxLayoutAlign="start center" *ngIf="showCheckboxes">
                <cmx-checkbox (change)="toggleRequest($event, $element.requestId)" [rtl]="isRTL" [checked]="requestIsSelected($element.requestId)"
                    *ngIf="$element.status === 'N' || $element.status === 'P'" id="cmx-check-tbl-request-{{$element.index}}-{{templateId}}"></cmx-checkbox>
            </cmx-cell>
            <cmx-cell fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                <div class="cmx-flag-status" [class.cmx-flag-status--info]="$element.status === 'N'"
                    [class.cmx-flag-status--alert]="$element.status === 'R'" [class.cmx-flag-status--success]="$element.status === 'A'"
                    [class.cmx-flag-status--warning]="$element.status === 'P'" [class.cmx-flag-status--disabled]="$element.status === 'C'"></div>
                <span class="flag-label" id="cmx-row-tbl-request-status-{{$element.index}}-{{templateId}}">{{$element.statusDesc}}</span>
            </cmx-cell>
            <cmx-cell fxFlex="10" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-request-id-{{$element.index}}-{{templateId}}">
                {{ $element.requestId }}
            </cmx-cell>
            <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-request-type-{{$element.index}}-{{templateId}}">
                {{ $element.requestTypeDesc}}
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center" *ngIf="isAdminMode" id="cmx-row-tbl-request-name-{{$element.index}}-{{templateId}}">
                {{ $element.requesterName }}
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center" *ngIf="isAdminMode" id="cmx-row-tbl-customer-{{$element.index}}-{{templateId}}">
                {{ $element.customerDesc }}
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center" id="cmx-row-tbl-request-date-{{$element.index}}-{{templateId}}">
                {{ $element.requestDate | cmxDateMoment }}
            </cmx-cell>
            <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center" *ngIf="!isAdminMode" id="cmx-row-tbl-request-authorized-{{$element.index}}-{{templateId}}">
                {{ $element.authorizedByFullName}}
            </cmx-cell>
            <cmx-cell fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                <span class="cmx-icon-quick-view detail-icon" (click)="openRequestDetail($element)" id="cmx-btn-request-detail-{{$element.index}}-{{templateId}}"></span>
            </cmx-cell>
        </div>
    </ng-container>
</cmx-table>