.settings {
    padding-bottom: 5%;
    color: #001B3A;
    h1 {
        font-size: 30px;
    }
    h6 {
        &.normal {
            font-weight: normal;
        }
    }
}

:host ::ng-deep cmx-dropdown {
    span {
        overflow: unset !important;
    }
}