.cmx-form-group .cmx-form-control--icon-trail, .cmx-form-group .cmx-form-control--icon-lead, .cmx-form-group .cmx-form-control--icon-button-trail {
    width: 100%;
    height: auto;
    position: relative;
}

.cmx-form-group .cmx-form-control--icon-button-trail input[type] {
    padding-right: 2.5rem;
}

.cmx-form-group input[type="text"], .cmx-form-group input[type="email"], .cmx-form-group input[type="number"], .cmx-form-group input[type="search"], .cmx-form-group input[type="password"], .cmx-form-group select, .cmx-form-group textarea {
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 3px;
    height: 48px;
    padding: 16px;
    border: 1px solid #ADAEBB;
    background: #FFF;
}

.cmx-form-group .cmx-form-control {
    display: block;
    width: 350px;
}

.cmx-form-group .cmx-form-control--icon-button-trail .cmx-button {
    position: absolute;
    top: 12px;
    font-size: 24px;
    right: 12px;
    line-height: 24px;
}

.cmx-button {
    display: inline-block;
    min-width: 85px;
    border-radius: 2px;
    border: 1px solid #3FA9F5;
    padding: 8px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    color: #FFF;
    background: #3FA9F5;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    vertical-align: bottom;
    white-space: nowrap;
}

.cmx-button--link, .cmx-button--icon {
    min-width: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    line-height: 1rem;
    font-weight: normal;
    color: #3FA9F5;
    background: none;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s;
    overflow: visible;
    vertical-align: bottom;
    white-space: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
}

[class*='icon-'] {
    width: 24px;
    height: 24px;
}

