.breadcrumps {
    .breadcrump__link {
        color: #3FA9F5;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
    }
    
    .breadcrump__current {
        display: inline;
        color: #001C3B;
        font-size: 18px;
        line-height: 26px;
    }

    .breadcrump__divider {
        background-color: #3FA9F5;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin: 0 4px;
    }
}

.view-title{
    height: 50px;
    color: #001C3B;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
}

