<svg style="display:none;">
    <defs>
        <symbol id="cmx-logo">
            <title>cmx-logo</title>
            <path class="cmx-logo" d="M43.3,16.4h9.4v2.8h-8.4c-1,0-1,0.9-1,0.9v3.3c0,1,1,1,1,1h8.4v2.9h-9.4c-3.4,0-3.2-2.9-3.2-2.9v-5.2
                C40.1,16.4,43.3,16.4,43.3,16.4z M53.5,19.2v5.2c0,0-0.2,2.9,3.2,2.9h10v-2.9h-9.1c0,0-1,0-1-1v-3.3c0,0,0-0.9,1-0.9h9.1v-2.8h-10
                C56.7,16.4,53.5,16.4,53.5,19.2z M66.4,22.7v-2.3h-7.8v2.3H66.4z M86.8,23.2v-3.3c0,0,0-0.9,1-0.9h9.1v-2.8h-10c0,0-3.2,0-3.2,2.8
                v5.2c0,0-0.2,2.9,3.2,2.9h10v-2.9h-9.1C87.8,24.1,86.8,24.2,86.8,23.2z M89.2,22.7H97v-2.3h-7.8V22.7z M79.9,16.1h-12V27H71v-8h2.8
                v8H77v-8h2.8v8H83v-8.1C83,18.9,83.2,16.1,79.9,16.1z M112.9,16.1h-3.4v1.6l-4.3,2.2l-4.3-2.2v-1.6h-3.4v2.8l4.5,2.6l-4.5,2.6V27
                h3.4v-1.6l4.3-2.2l4.3,2.2V27h3.4v-2.8l-4.5-2.6l4.5-2.6V16.1z M24.9,0L0,27h10.8L35.7,0H24.9z M41.6,0L16.7,27h10.8L52.4
                0H41.6z"></path>
        </symbol>
    </defs>
</svg>
<div class="custom-panel" [dir]="isRTL ? 'rtl': 'ltr'">
    <div class="custom-panel__header">
        <svg class="custom-panel__header__logo">
            <use xlink:href="#cmx-logo"></use>
        </svg>
    </div>
    <div class="custom-panel__close-button" [ngClass]="isRTL ? 'close-button-rtl' : '' ">
        <span id="cmx-panel-close-btn" class="cmx-icon-close" (click)="closePanel()"></span>
    </div>
    <div class="custom-panel__content">
        <div class="custom-panel__content__title">{{title}}</div>
        <div class="spacer-16"></div>
        <div class="custom-panel__content__instruction">{{instruction}}</div>
        <div class="spacer-16"></div>
        <ng-content></ng-content>
        <div class="spacer-32"></div>
    </div>
</div>