<div class="profile-box" id="cmx-profile-box-container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-2 profile-box__avatar-container">
                    <img [src]="imgPath" class="profile-box__avatar" width="60" height="60">
                </div>
                <div class="col-md-10">
                    <h2 id="cmx-profile-box-user-fullname-{{templateId}}">
                        {{ profile?.firstName }} {{ profile?.lastName }}</h2>
                    <h5 id="cmx-profile-box-user-position-{{templateId}}" class="normal" *ngIf="!isDigitalAdmin">
                        {{ profile?.userPosition }}
                    </h5>
                    <h5 id="cmx-profile-box-user-digital-admin-{{templateId}}" class="normal" *ngIf="isDigitalAdmin">
                        {{ translationService.pt('views.digital.admin.profile') }}
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="profile-box--end profile-box--display-grid">
                <span id="cmx-profile-box-customer-code-title-{{templateId}}">
                    {{ translationService.pt('views.global.lbl_clientNumber') }}
                </span>
                <h3 id="cmx-profile-box-customer-code-{{templateId}}">{{ profile?.customerCode }}</h3>
            </div>
        </div>
    </div>
    <div class="spacer-24"></div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <h6 id="cmx-profile-box-phonenumber-lbl">
                        {{ translationService.pt('views.profile-box.lblPhoneNumber') }}
                    </h6>
                </div>
                <div class="col-md-4">
                    <h6 id="cmx-profile-box-email-lbl">{{ translationService.pt('views.profile-box.lblEmail') }}</h6>
                </div>
                <div class="col-md-3">
                    <h6 id="cmx-profile-box-company-lbl">{{ translationService.pt('views.profile-box.lblCompany') }}</h6>
                </div>
                <div class="col-md-2">
                    <h6 id="cmx-profile-box-country-lbl">{{ translationService.pt('views.profile-box.lblCountry') }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h6 class="normal" id="cmx-profile-box-phone-title-{{templateId}}">{{ profile?.phoneNumber }}</h6>
                </div>
                <div class="col-md-4">
                    <h6 class="normal" id="cmx-profile-box-email-title-{{templateId}}">{{ profile?.userAccount }}</h6>
                </div>
                <div class="col-md-3">
                    <h6 class="normal" id="cmx-profile-box-customer-title-{{templateId}}">{{ profile?.customerDesc }}</h6>
                </div>
                <div class="col-md-2">
                    <h6 class="normal" id="cmx-profile-box-country-title-{{templateId}}">
                        {{ translationService.pt(profile?.countryCode) }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="isAdmin">
            <div class="profile-box--end" [ngStyle]="{'float':isRTL ? 'left' : 'right' }">
              <ul class="pb-actions">
                <li *ngIf="!isDigitalAdmin">
                  <button [rtl]="isRTL" cmx-link-icon *ngIf="profile?.status === 'A'" id="cmx-btn-profile-box-disableuser-{{templateId}}"
                      (click)="disableUser()">
                      <span class="cmx-icon-blocked"></span>
                      <span>{{ translationService.pt('views.profile-box.btnDisableUser') }}</span>
                  </button>
                </li>
                <li>
                  <button [rtl]="isRTL" cmx-link-icon id="cmx-btn-profile-box-action-log-{{templateId}}" (click)="openActionLog()">
                      <span class="cmx-icon-history"></span>
                      <span>{{ translationService.pt('views.profile-box.btnActionLog') }}</span>
                  </button>
                </li>
                <li *ngIf="!isDigitalAdmin">
                  <button [rtl]="isRTL" cmx-link-icon id="cmx-btn-profile-box-reset-password-{{templateId}}" (click)="openPasswordModal()">
                      <span class="cmx-icon-protected"></span>
                      <span>{{ translationService.pt('views.profile-box.btnResetPassword') }}</span>
                  </button>
                </li>
              </ul>
            </div>
        </div>
        <div class="col-md-4" *ngIf="!isAdmin">
            <div class="profile-box--end">
              <a id="cmx-profile-box-selfreset-btn" class="button-link" [routerLink]="['self-reset-password']">
                  <span class="cmx-icon-protected font-bright-blue" aria-hidden="true"></span>&nbsp;
                  <span>{{ translationService.pt('views.profile-box.btnChangePassword') }}</span>
              </a>
            </div>
        </div>
    </div>
</div>
<password-change-modal #passwordChange></password-change-modal>
